<div class="clearfix report_description section">
  <%- if interest_group.thumbnail.exists? -%>
  <div class="image image_large"><%= sized_image_tag interest_group.thumbnail, interest_group.name, :style => :header %></div>
  <%- end -%>
  <h1><%= interest_group.name %></h1>
  <%= render 'reports/follows/button', :report => @interest_group.report %>
  <ul class="details">
  <%- if url = polymorphic_url(@interest_group).presence -%>
    <li><%= link_to 'Website', url %></li>
  <%- end -%>
  <%- if @interest_group.email.present? -%>
    <li><%= mail_to @interest_group.email, 'Email' %></li>
  <%- end -%>
  <li class="act-hover" rel="dropdown_target">
    <h2>Contact</h2>
    <dl id="dropdown_target" class="hide">
      <%- if @interest_group.contact_name.present? -%>
        <dt>Contact</dt>
        <dd><%= @interest_group.contact_name %></dd>
      <%- end -%>
      <%- if @interest_group.phone_numbers.present? -%>
        <dt>Phone Numbers</dt>
        <%- @interest_group.phone_numbers.each do |number| -%>
          <dd><%= number %></dd>
        <%- end -%>
      <%- end -%>
      <%- if @interest_group.fax.present? -%>
        <dt>Fax</dt>
        <dd><%= @interest_group.fax %></dd>
      <%- end -%>
        <dt>Address</dt>
        <dd><%= render 'addresses/address', :address => @interest_group %></dd>
    </dl>
  </li>
  </ul>
  <blockquote><%= md_to_html(@interest_group.description) %></blockquote>
</div>
