<%- title "Interest Groups" -%>

<div class="section" id="interest_groups_index">
  <h2>Interest Groups</h2>
  <div id="search" class="<%= 'hide' if params[:subjects].present? %>">
    <%= form_tag interest_groups_path, method: :get, class: 'act-replace', rel: 'interest_groups_index' do %>
      <h3><%= label_tag :term, 'Search' %></h3>
      <%= text_field_tag :term, params[:term] %>
      <%= submit_tag 'Search' %>
      <p>or <a href="#" class="act-toggle" rel="search browse_by_subject">browse by subject</a></p>
    <% end %>
  </div>

  <div id="browse_by_subject" class="<%= 'hide' unless params[:subjects].present? %>">
    <%= form_tag interest_groups_path, method: :get, class: 'act-replace', rel: 'interest_groups_index' do %>
      <h3>Browse by Subject</h3>
      <%= render 'subjects/cloud', subjects: @subjects, target: lambda {|subjects|
        [interest_groups_path(subjects: subjects), {class: 'act-replace', rel: 'interest_groups_index'}]
      } %>
      <p>or <a href="#" class="act-toggle" rel="search browse_by_subject">search</a></p>
    <% end %>
  </div>

  <%= render 'interest_groups/list', interest_groups: @interest_groups, replace: 'interest_groups_index' %>

  <%- permitted_to? :create, :interest_groups do -%>
    <%= link_to "Create a new Interest Group", new_interest_group_path %>
  <%- end -%>
</div>
