<% title "Interest Group - #{h @interest_group.name}" %>

<div class="section">
  <h2><%= @interest_group.name %></h2>
  <blockquote><%= to_html(@interest_group.description) %></blockquote>
  <dl>
  <%- if @interest_group.url.present? -%>
    <dt>Website</dt>
    <dd><%= link_to @interest_group.url, @interest_group.url %></dd>
  <%- end -%>
  <%- if @interest_group.email.present? -%>
    <dt>Email</dt>
    <dd><%= mail_to @interest_group.email %></dd>
  <%- end -%>
  <%- if @interest_group.contact_name.present? -%>
    <dt>Contact</dt>
    <dd><%= @interest_group.contact_name %></dd>
  <%- end -%>
  <%- if @interest_group.phone_numbers.present? -%>
    <dt>Phone Numbers</dt>
    <%- @interest_group.phone_numbers.each do |number| -%>
      <dd><%= number %></dd>
    <%- end -%>
  <%- end -%>
  <%- if @interest_group.fax.present? -%>
    <dt>Fax</dt>
    <dd><%= @interest_group.fax %></dd>
  <%- end -%>
    <dt>Address</dt>
    <dd><%= render 'addresses/address', :address => @interest_group %></dd>
  </dl>
</div>

<div class="section report_scores">
  <h2>Scores</h2>
  <p>We score representatives based on the actual ratings this interest group has released over time.</p>
  <%- if @report -%>
    <%- if @report.scores.present? -%>
      <%= render 'politicians/search', :url => interest_group_path(@interest_group), :replace => 'report_scores' %>
    <%- end -%>
    <%= render 'reports/scores/table', :report => @report, :scores => @scores %>
  <%- else -%>
    <p>No ratings on record for this group</p>
  <%- end -%>
</div>

<%- if parent = @interest_group.parent -%>
<div class="section">
  <h2>Parent Group</h2>
  <%= render parent %>
</div>
<%- end -%>

<%- if @interest_group.parent && (siblings = @interest_group.siblings).present? -%>
<div class="section">
  <h2><%= pluralize siblings.count, 'Sibling Group' %></h2>
  <ul>
    <%- siblings.each do |sibling| -%>
    <li><%= render sibling %></li>
    <%- end -%>
  </ul>
</div>
<%- end -%>

<%- if (children = @interest_group.children).present? -%>
<div class="section">
  <h2><%= pluralize children.count, 'Child Group' %></h2>
  <ul>
    <%- children.each do |child| -%>
    <li><%= render child %></li>
    <%- end -%>
  </ul>
</div>
<%- end -%>

<div class="section">
  <h2>Subjects</h2>
  <%= render 'subjects/cloud', :subjects => @subjects %>
</div>
