<% title "Interest Group - #{h @interest_group.name}" %>

 <%= render 'interest_groups/header', :interest_group => @interest_group %>
<div class="ui-tabs">
  
  <ul>
    <li><%= link_to content_tag(:span, 'Scores'), interest_group_scores_path(@interest_group), :title => 'Scores' %></li>
    <%- if @subjects.present? -%>
    <li><a href="#report_subjects">Subjects</a></li>
    <%- end -%>
    <li><a href="#interest_group_ratings">Agenda</a></li>
    <%- permitted_to? :edit, :interest_groups_images do -%>
    <li><a href="#admin">Admin</a></li>
    <%- end -%>
  </ul>

  <%- if parent = @interest_group.parent -%>
  <div class="section">
    <h3>Parent Group</h3>
    <%= render parent %>
  </div>
  <%- end -%>

  <%- if @interest_group.parent && (siblings = @interest_group.siblings).present? -%>
  <div class="section">
    <h3><%= pluralize siblings.count, 'Sibling Group' %></h3>
    <ul>
      <%- siblings.each do |sibling| -%>
      <li><%= render sibling %></li>
      <%- end -%>
    </ul>
  </div>
  <%- end -%>

  <%- if (children = @interest_group.children).present? -%>
  <div class="section">
    <h3><%= pluralize children.count, 'Child Group' %></h3>
    <ul>
      <%- children.each do |child| -%>
      <li><%= render child %></li>
      <%- end -%>
    </ul>
  </div>
  <%- end -%>

  <%- if @subjects.present? -%>
  <div id="report_subjects" class="section report_subjects">
    <h3>Subjects</h3>
    <p>Subjects for this report are selected by <a href="http://votesmart.org/">Project Vote Smart</a>.  Follow the links below to find reports on related subjects.</p>
    <%= render 'subjects/cloud', :subjects => @subjects %>
  </div>
  <%- end -%>

  <div id="interest_group_ratings" class="section">
    <h3>Agenda</h3>
    <p>This report's scores are based on ratings periodically issued by the <%= @interest_group.name %>.  All included ratings are shown below.</p>
    <ul>
    <%- @interest_group.reports.each do |report| -%>
      <li><%= render 'interest_group_reports/interest_group_report', :report => report %></li>
    <%- end -%>
    </ul>
  </div>

  <%- permitted_to? :edit, :interest_groups_images do -%>
  <div id="admin">
    <ul class="actions_menu">
      <li><%= link_to 'Edit Interest Group Thumbnail', edit_interest_group_image_path(@interest_group) %></li>
    </ul>
  </div>
  <%- end -%>
</div>
