<%- title "#{@interest_group.name} - Interest Groups" -%>

<%= render 'interest_groups/header', :interest_group => @interest_group %>

<%- if parent = @interest_group.parent -%>
<div class="section">
  <h3>Parent Group</h3>
  <%= render parent %>
</div>
<%- end -%>

<%- if @interest_group.parent && (siblings = @interest_group.siblings).present? -%>
<div class="section">
  <h3><%= pluralize siblings.count, 'Sibling Group' %></h3>
  <ul>
    <%- siblings.each do |sibling| -%>
    <li><%= render sibling %></li>
    <%- end -%>
  </ul>
</div>
<%- end -%>

<%- if (children = @interest_group.children).present? -%>
<div class="section">
  <h3><%= pluralize children.count, 'Child Group' %></h3>
  <ul>
    <%- children.each do |child| -%>
    <li><%= render child %></li>
    <%- end -%>
  </ul>
</div>
<%- end -%>

<div class="ui-tabs" id="<%= dom_id(@interest_group, :tabs) %>">
  <ul>
    <li><%= link_to content_tag(:span, 'Scores'), interest_group_report_scores_path(@interest_group, :format => :html), :title => 'Scores' %></li>
    <li><%= link_to content_tag(:span, 'Agenda'), interest_group_agenda_path(@interest_group, :format => :html), :title => 'Agenda' %></li>
    <li><% link_to interest_group_subjects_path(@interest_group, :format => :html), :title => 'Subjects' do %>
      <span>Subjects <span class="count"><%= @interest_group.subjects.count %></span></span>
    <% end %></li>
    <li><% link_to interest_group_causes_path(@interest_group, :format => :html), :title => 'Causes' do %>
      <span>Causes <span class="count"><%= @interest_group.causes.count %></span></span>
    <% end %></li>
    <%- permitted_to? :edit, :interest_groups_images do -%>
    <li><%= link_to content_tag(:span, 'Admin'), edit_interest_group_image_path(@interest_group, :format => :html), :title => 'Admin' %></li>
    <%- end -%>
  </ul>
</div>
