<%-
  source ||= 'Report'
  id ||= "report_scores"
-%>

<%- if scores.blank? -%>
  <p>No <%= source.pluralize %> for this politician yet.
  <%- if source == 'Report' -%>  
    Maybe you can <%= link_to 'make the first', new_report_path %>?
  <%- elsif source == 'Cause' -%>
    <%= mail_to 'causes@votereports.org', 'Let us know' %> if one of <%= link_to 'their report scores', '#Reports', :class => 'act-tab-select', :rel => 'Reports' %> should be included in a cause.
  <%- end -%>
  </p>
<%- else -%>
<div id="<%= id %>" class="politician_scores">
  <%- paginated_section scores, :class => 'act-replace', :rel => replace, :params => {:format => :js} do -%>
    <table>
      <thead>
        <tr>
          <th>Score</th>
          <th><%= source %></th>
        </tr>
      </thead>
      <tbody>
        <%- scores.each do |report_score| -%>
        <tr>
          <td><%= render 'reports/scores/score', :score => report_score %></td>
          <td><%= render 'reports/report', :report => report_score.report, :cause_only => (source == 'Cause') %></td>
        </tr>
        <%- end -%>
      </tbody>
    </table>
  <%- end -%>
</div>
<%- end -%>
