<div id="agenda" class="section">
  <h2>Agenda</h2>
  <p>
    <%- if @report.score_criteria.blank? -%>
      Unfortunately, we don't have any agenda for this interest group, though we'll be looking to add that shortly.
    <%- else -%>
      This report's scores are based on <%= evidence_types(@report) %> periodically issued by the <%= @report.name %>:
    <%- end -%>
  </p>

  <%- if @interest_group.reports.present? -%>
    <div id="historical_ratings" class="span-6">
      <h3>Historical Ratings</h3>
      <ul class="interest_group_reports">
      <%- @interest_group.reports.by_rated_on.each do |report| -%>
        <li><span><%= report.timespan %> (<%= link_to pluralize(report.ratings.count, 'rating'), report.vote_smart_url %>)</span></li>
      <%- end -%>
      </ul>
    </div>
  <%- end -%>

  <%- if @report.has_criteria? -%>
    <%= render 'reports/bill_criteria/legislative_agenda', report: @report, class_names: 'span-18 last' %>
  <%- end -%>
</div>
