<div id="interest_group_ratings" class="section">
  <h1>Agenda</h1>
  <p>
    <%- if @report.score_criteria.blank? -%>
      Unfortunately, we don't have any agenda for this interest group, though we'll be looking to add that shortly.
    <%- else -%>
      This report's scores are based on <%= evidence_types(@report, :same_tab) %> periodically issued by the <%= @report.name %>:
    <%- end -%>
  </p>

  <%- if @interest_group.reports.present? -%>
    <h2 id="historical_ratings">Historical Ratings</h2>
    <table class="interest_group_reports">
    <%- @interest_group.reports.by_rated_on.each do |report| -%>
    <tr>
      <th>In <%= report.timespan %></th>
      <td><%= link_to pluralize(report.ratings.count, 'ratings'), report.vote_smart_url %></td>
    </tr>
    <%- end -%>
    </table>
  <%- end -%>

  <%- if @report.has_criteria? -%>
    <%= render 'reports/bill_criteria/legislative_agenda', :report => @report %>
  <%- end -%>
</div>
