<div id="legislative_agenda" class="<%= class_names if defined?(class_names) %>">
  <h3>Legislative Agenda</h3>

  <%- active_bills = report.bill_criteria.by_introduced_on.active -%>
  <%- active_amendments = report.amendment_criteria.by_offered_on.active -%>
  <h5>Supported Legislation</h5>
  <div class="legislation">
  <%- if active_bills.supported.present? || active_amendments.supported.present? -%>
    <%- if active_bills.supported.present? -%>
    <ul>
      <%- active_bills.supported.each do |criterion| -%>
        <li class="bill_criterion"><span><%= render 'bill_criteria/bill_criterion', :bill_criterion => criterion %></span></li>
      <%- end -%>
    </ul>
    <%- end -%>
    <%- if active_amendments.supported.present? -%>
    <ul>
      <%- active_amendments.supported.each do |criterion| -%>
        <li class="amendment_criterion"><span><%= render 'amendment_criteria/amendment_criterion', :amendment_criterion => criterion, :show_year => true %></span></li>
      <%- end -%>
    </ul>
    <%- end -%>
  <%- else -%>
    <p>None</p>
  <%- end -%>
  </div>

  <h5>Opposed Legislation</h5>
  <div class="legislation">
    <%- if active_bills.opposed.present? || active_amendments.opposed.present? -%>
      <%- if active_bills.opposed.present? -%>
      <ul>
        <%- active_bills.opposed.each do |criterion| -%>
          <li class="bill_criterion"><span><%= render 'bill_criteria/bill_criterion', :bill_criterion => criterion %></span></li>
        <%- end -%>
      </ul>
      <%- end -%>
      <%- if active_amendments.opposed.present? -%>
      <ul>
        <%- active_amendments.opposed.except(:select).select('DISTINCT(amendment_criteria.*), amendments.offered_on').each do |criterion| -%>
          <li class="amendment_criterion"><span><%= render 'amendment_criteria/amendment_criterion', :amendment_criterion => criterion, :show_year => true %></span></li>
        <%- end -%>
      </ul>
      <%- end -%>
    <%- else -%>
      <p>None</p>
    <%- end -%>
  </div>

  <%- unvoted_bills = report.bill_criteria.inactive -%>
  <%- unvoted_amendments = report.amendment_criteria.inactive -%>
  <%- if unvoted_bills.present? || unvoted_amendments.present? -%>
    <h5>Inactive Legislation</h5>
    <div class="legislation">
      <%- if unvoted_bills.present? -%>
      <ul>
        <%- unvoted_bills.each do |criterion| -%>
          <li class="bill_criterion"><span><%= render 'bill_criteria/bill_criterion', :bill_criterion => criterion, :with_support => true %></span></li>
        <%- end -%>
      </ul>
      <%- end -%>
      <%- if unvoted_amendments.present? -%>
      <ul>
        <%- unvoted_amendments.each do |criterion| -%>
          <li class="amendment_criterion"><span><%= render 'amendment_criteria/amendment_criterion', :amendment_criterion => criterion, :with_support => true, :show_year => true %></span></li>
        <%- end -%>
      </ul>
      <%- end -%>
    </div>
  <%- end -%>
</div>
