<div id="report_bills_results_table">
  <%- if bills.present? -%>
    <% form_for report, :url => report_bill_criteria_path(report), :html => {:method => :post} do |f| %>
      <table>
        <thead>
          <th>Bill</th>
          <th>Support/Oppose</th>
          <th></th>
        </thead>
        <tbody>
          <%- build_criteria_for(report, bills).each do |criterion| -%>
            <%- f.fields_for :bill_criteria, criterion do |bill_criteria_fields| -%>
              <tr>
                <td>
                  <%= render 'bills/bill', :bill => criterion.bill %>
                  <%- if criterion.bill.amendments.present? -%>
                    (<%= link_to 'amendments', new_report_bill_amendment_criterion_path(report, criterion.bill), :class => 'fancyboxy' %>)
                  <%- end -%>
                  <%= bill_criteria_fields.hidden_field :bill_id %>
                  <%= bill_criteria_fields.hidden_field :id unless criterion.new_record? %>
                </td>
                <td>
                  <%= bill_criteria_fields.label :support_true, 'Support' %>
                  <%= bill_criteria_fields.radio_button :support, true %><br />
                  <%= bill_criteria_fields.label :support_false, 'Oppose' %>
                  <%= bill_criteria_fields.radio_button :support, false %>
                  <a href="#" title="Show additional options" class="act-toggle" rel="<%= dom_id(criterion.bill, :extra_fields) %>">url</a>
                </td>
                <td id="<%= dom_id(criterion.bill, :extra_fields) %>" class="hide">
                  <%= bill_criteria_fields.label :explanatory_url, 'Explanatory Link' %>
                  <%= bill_criteria_fields.text_field :explanatory_url %>
                </td>
              </tr>
            <%- end -%>
          <%- end -%>
        </tbody>
      </table>
      <%= will_paginate bills, :class => 'act-replace', :rel => 'report_bills_results_table' %>
      <p><%= f.submit 'Save Bills to Report' %></p>
    <% end %>
  <%- elsif @new_report -%>
    <p>No bills found for "<%= params[:term] %>". Try another search!</p>
    <%= link_to 'Done', user_report_path(report.user, report) %>
  <%- else -%>
    <p>No bills found</p>
    <%= link_to 'Back', :back %>
  <%- end -%>
</div>