<%- title %Q{Crop Thumbnail for "#{@cause.name}"} -%>

<%- thumb_width, thumb_height = @image.thumbnail.styles[:normal][:geometry].split('x').map(&:to_i) -%>

<%= render 'images/crop_js', image: @image, width: thumb_width, height: thumb_height %>

<div class="section">
  <h2>Replace Thumbnail</h2>
  <%= form_for @image, url: cause_image_path(@cause), html: { multipart: true } do |f| %>
    <p>
      <%= f.label :thumbnail_file_name, 'Thumbnail' %><br />
      <%= f.file_field :thumbnail %><br />
    </p>
    <p><%= f.submit "Replace!" %></p>
  <% end %>
</div>

<%- unless @image.new_record? -%>
<div class="section">
  <h2>Crop Thumbnail</h2>
  <p>Use your mouse to select the thumbnail from the original image below</p>
  <dl>
    <dt>Original Image</dt>
    <dd><%= image_tag @image.thumbnail.url(:original), id: 'cropbox' %></dd>

    <dt>Cropped Result</dt>
    <dd style="width:<%= thumb_width %>px;height:<%= thumb_height %>px;overflow:hidden"><%= image_tag @image.thumbnail.url(:original), id: 'preview' %></dd>
  </dl>

  <%= form_for @image, url: cause_image_path(@cause) do |f| %>
    <p>
      <%= f.hidden_field :crop_x, id: 'crop_x' %>
      <%= f.hidden_field :crop_y, id: 'crop_y' %>
      <%= f.hidden_field :crop_w, id: 'crop_w' %>
      <%= f.hidden_field :crop_h, id: 'crop_h' %>
      <%= f.submit "Crop!" %>
    </p>
  <% end %>
</div>
<%- end -%>