<%- title 'New Issue' -%>
<h1>New Issue</h1>

<%= form_for @issue do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'title' %>
  </p>
  
  <%= render 'causes/selection', from: @causes, selected: @issue.causes %>

  <p><%= f.submit 'Create Issue' %></p>
<% end %>
