<%- if @politicians || @topical_reports -%>
<table id="scores">
  <%- if @politicians -%>
    <thead>
      <tr>
        <%- if @topical_reports -%>
          <td></td>
        <%- end -%>
        <%- @politicians.each do |politician| -%>
          <th><%= render politician %></th>
        <%- end -%>
      </tr>
    </thead>
  <%- end -%>
  <%- if @topical_reports -%>
    <tbody>
      <%- unless @topical_reports.size == 1 -%>
        <tr>
          <th>
            <div class="report">
              <%= image_tag Report::DEFAULT_THUMBNAIL_PATH, :size => '110x83', :class => 'report_image' %>
              <div class="report_attrs">
                <span class="report_title">Average of these Reports</span>
              </div>
            </div>
          </th>
          <%- @politicians.each do |politician| -%>
            <td>
              <%- if score = politician.report_scores.for_reports(@topical_reports).average(:score) -%>
                <div class="report_score"><%= score.round.to_i %>%</div>
              <%- else -%>
                <div class="report_score blank" />
              <%- end -%>
            </td>
          <%- end -%>
        </tr>
      <%- end -%>
      <%- @topical_reports.each do |report| -%>
        <tr>
          <th><%= render 'reports/report', :report => report, :no_description => true %></th>
          <%- @politicians.each do |politician| -%>
            <td><%= render 'reports/scores/score', :score => report.scores.for_politicians(politician).first %></td>
          <%- end -%>
        </tr>
      <%- end -%>
    </tbody>
  <%- end -%>
</table>
<%- end -%>