<%- title @state.full_name -%>

<div class="section clearfix">
  <h2><%= @state.full_name %></h2>

  <iframe width="425" height="300" frameborder="0"
   scrolling="no" marginheight="0" marginwidth="0"
   src="<%= gov_track_map_url(@state) %>" style="float:right;"></iframe>

  <h3>Senators</h3>
  <ul>
    <%- @senators.each do |senator| -%>
      <li><%= render 'politicians/politician', :politician => senator %></li>
    <%- end -%>
  </ul>

  <h3>Representatives (<%= @representatives.count %>)</h3>
  <ul>
    <%- @representatives.each do |representative| -%>
      <li><%= render 'politicians/politician', :politician => representative %></li>
    <%- end -%>
  </ul>
</div>
