<%- title state_title(@state) -%>

<% div_for @state, :class => "section clearfix" do %>
  <h2><%= state_title(@state) %></h2>

  <%= render 'us/states/maps/map', :state => @state %>

  <h3>Senators</h3>
  <ul>
    <%- @senators.each do |senator| -%>
      <li><%= render 'politicians/politician', :politician => senator %></li>
    <%- end -%>
  </ul>

  <h3>Representatives (<%= @representatives.count %>)</h3>
  <ul>
    <%- @representatives.each do |representative| -%>
      <li><%= render 'politicians/politician', :politician => representative %></li>
    <%- end -%>
  </ul>
<% end %>
