<%- title state_title(@state) -%>

<% div_for @state do %>
  <h2 class="span-24 last"><%= state_title(@state) %></h2>

  <div class="span-12">
    <h3>President</h3>
    <ul>
      <%- @presidents.each do |president| -%>
        <%= render 'politicians/politician', :politician => president, :full_name => true, :tag => :li %>
      <%- end -%>
    </ul>

    <h3>Senators</h3>
    <ul>
      <%- @senators.each do |senator| -%>
        <%= render 'politicians/politician', :politician => senator, :full_name => true, :tag => :li %>
      <%- end -%>
    </ul>

    <h3>Representatives (<%= @representatives.count %>)</h3>
    <ul>
      <%- @representatives.each do |representative| -%>
        <%= render 'politicians/politician', :politician => representative, :full_name => true, :tag => :li %>
      <%- end -%>
    </ul>
  </div>

  <div class="span-12 last">
    <%= render 'us/states/maps/map', :state => @state %>
  </div>
<% end %>
