<%- title "Edit #{h(@user.username)} - Users" -%>

<div class="section">
  <h2><%= render 'users/user', user: @user, :thumbnail_size => 50 %></h2>
  <p><a href="http://en.gravatar.com/">Change your Avatar at gravatar.com</a></p>

  <%= render 'users/form', user: @user %>
  <%- if @new_user -%>
    <%= raw link_to('Looks Good, take me to my Profile', user_path(@user)) %>
  <%- end -%>

  <%- if @user.valid? && permitted_to?(:create, :users_rpx_identities) -%>
    <h2>Associated Logins</h2>
    <%- if @user.rpx_identifiers.present? -%>
      <ul>
        <%- @user.rpx_identifiers.each do |identifier| -%>
          <li><%= identifier.provider_name %> <%= link_to 'remove', user_rpx_identity_path(@user, identifier), method: :delete %></li>
        <%- end -%>
      </ul>
    <%- else -%>
      <p>No associated logins yet.</p>
    <%- end -%>

    <p>
      <%= raw rpx_popup(:link_text => "Add a login to this account", :app_name => RPX_APP_NAME, :return_url => user_rpx_identities_url(current_user), :add_rpx => true, unobtrusive: false) %>
    </p>
  <%- end -%>

  <%- if @user.adminship -%>
    <p>Promoted to Admin by <%= render 'users/user', user: @user.adminship.created_by %> on <%= @user.adminship.created_at.to_s(:long_ordinal) %></p>
    <%= raw button_to('Revoke Admin Status', user_adminship_path(@user), method: :delete)  if permitted_to?(:destroy, :users_adminships) %>
  <%- elsif @user.moderatorship -%>
    <p>Promoted to Moderator by <%= render 'users/user', user: @user.moderatorship.created_by %> on <%= @user.moderatorship.created_at.to_s(:long_ordinal) %></p>
    <%= raw button_to('Promote to Admin', user_adminship_path(@user)) if permitted_to?(:create, :users_adminships) %>
    <%= raw button_to('Revoke Moderator Status', user_moderatorship_path(@user), method: :delete) if permitted_to?(:destroy, :users_moderatorships) %>
  <%- else -%>
    <%= raw button_to('Promote to Admin', user_adminship_path(@user)) if permitted_to?(:create, :users_adminships) %>
    <%= raw button_to('Promote to Moderator', user_moderatorship_path(@user)) if permitted_to?(:create, :users_moderatorships) %>
  <%- end -%>
</div>
