<%- title "Users" -%>

<div class="section">
  <table>
    <tr>
      <th>Email</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
    <% for user in @users %>
      <tr>
        <td><%= user.email %></td>
        <td><%= render 'users/user', :user => user %></td>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
        <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <p><%= link_to "New User", new_user_path %></p>
</div>