<%- title params[:term].present? ? %Q{Bill Search Results for "#{params[:term]}"} : 'Bills' -%>

<div class="section">
  <h2>Bill Search</h2>

  <% form_tag bills_path, :method => :get do %>
    <%= label_tag :term, 'Search' %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Search' %>
  <% end %>

  <h3><%= @title %></h3>
  <%= render 'bills/list', :bills => @bills %>
</div>
