<%- title %Q{"#{@bill.titles.first}" - Bills} -%>

<div class="section">
  <h2><%= render @bill, :hide_year => true %></h2>
  <p>Introduced on <%= @bill.introduced_on.to_s(:long_ordinal) %>
  <%- if @bill.sponsor -%>
    by <%= render @bill.sponsor, :headshot_style => :small %>
  <%- end -%>
  </p>
</div>

<%- if @bill.opencongress_url -%>
<div class="clearfix">
<%= link_to 'View on OpenCongress', @bill.opencongress_url, :class => 'button' %>
</div>
<%- end -%>

<%- unless [@bill.titles, @bill.summary, @amendments, @rolls, @bill.subjects, @reports].all?(&:blank?) -%>
<div class="ui-tabs" id="<%= dom_id(@bill, :tabs) %>">
  <ul>
    <%- if @reports.present? -%>
      <li><a href="#reports">Reports <span class="count"><%= @reports.count %></span></a></li>
    <%- end -%>
    <%- if @bill.subjects.present? -%>
      <li><a href="#bill_subjects">Subjects <span class="count"><%= @bill.subjects.count %></span></a></li>
    <%- end -%>
    <%- if @bill.titles.present? -%>
      <li><a href="#bill_titles">All Titles <span class="count"><%= @bill.titles.count %></span></a></li>
    <%- end -%>
    <%- if @bill.summary.present? -%>
      <li><a href="#bill_summary">Summary</a></li>
    <%- end -%>
    <%- if @amendments.present? -%>
      <li><a href="#amendments">Amendments <span class="count"><%= @amendments.count %></span></a></li>
    <% end %>
    <%- if @rolls.present? -%>
      <li><a href="#votes">Votes <span class="count"><%= @rolls.count %></span></a></li>
    <%- end -%>
  </ul>

  <%- if @reports.present? -%>
  <div id="reports" class="section">
    <h2>Reports</h2>
    <p>This bill appears in <%= pluralize(@bill.reports.published.count, 'published report') %>:</p>
    <ul>
      <%- @bill.reports.published.each do |report| -%>
        <li><%= render 'reports/report', :report => report %></li>
      <%- end -%>
    </ul>
  </div>
  <%- end -%>

  <%- if @bill.subjects.present? -%>
  <div id="bill_subjects" class="section bill_subjects">
    <h2>Subjects</h2>
    <p>Follow the links below to find bills &amp; reports on related subjects.</p>
    <%= render 'subjects/cloud', :subjects => @bill.subjects %>
  </div>
  <%- end -%>

  <%- if @bill.titles.present? -%>
  <div id="bill_titles">
    <%= render 'bills/titles', :bill => @bill %>
  </div>
  <%- end -%>

  <%- if @bill.summary.present? -%>
  <div id="bill_summary">
    <%= to_html(@bill.summary) %>
  </div>
  <%- end -%>

  <%- if @amendments.present? -%>
  <div id="amendments" class="section">
    <h2>Amendments</h2>
    <table>
      <tr>
        <th></th>
        <th>Offered On</th>
        <th>Description</th>
        <th></th>
      </tr>
      <% @amendments.by_offered_on.each do |amendment|  %>
        <tr>
          <th><%= amendment.chamber.upcase %><%= amendment.number %></th>
          <td><%= amendment.offered_on.to_s(:rfc822) %></td>
          <td><%= amendment.title %></td>
          <td><%= pluralize(amendment.rolls.count, 'vote') if amendment.rolls.present? %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <%- end -%>

  <%- if @rolls.present? -%>
  <div id="votes" class="section">
    <h2>Roll Call Votes</h2>
    <ul>
      <% @rolls.each do |roll|  %>
        <li><%= render roll %></li>
      <% end %>
    </ul>
  </div>
  <%- end -%>
</div>
<%- end -%>
