<h2><%= "#{@bill.bill_type.to_s} #{@bill.bill_number}: #{@titles.first}" %>
  <%- if @titles.size > 1 -%>
    <%= link_to '(all titles)', '#', :'data-dialog' => '#bill_titles', :'data-dialog-title' => "Bill Titles", :class => 'bill_titles' %>
  <%- end -%>
</h2>
<p>Introduced on <%= @bill.introduced_on.to_s(:long_ordinal) %>
<%- if @bill.sponsor -%>
  by <%= render @bill.sponsor %>
<%- end -%>
</p>

<ul>
  <%- if @bill.opencongress_url -%>
  <li><%= link_to 'View on OpenCongress', @bill.opencongress_url %></li>
  <%- end -%>
  <li><%= link_to 'View Summary', '#', :'data-dialog' => '#bill_summary', :'data-dialog-title' => "Bill Summary" %></li>
</ul>

<div id="bill_summary" class="hidden">
  <%= to_html(@bill.summary) %>
</div>

<%- if @titles.size > 1 -%>
  <dl id="bill_titles" class="hidden">
    <%- @titles.group_by {|t| t.as }.each_pair do |as, as_titles| -%>
    <dt><%= as %></dt>
    <dd><dl>
      <%- as_titles.group_by {|t| t.title_type }.each do |title_type, type_titles| -%>
        <dt><%= title_type %></dt>
        <%- type_titles.each do |title| -%>
          <dd><q><%= title.title %></q></dd>
        <%- end -%>
      <%- end -%>
    </dl></dd>
    <%- end -%>
  </dl>
<%- end -%>

<%- if (amendments = @bill.amendments.with_votes).present? -%>
<h3>Amendments</h3>
<ul>
  <% amendments.each do |amendment|  %>
    <li><%= render amendment %></li>
  <% end %>
</ul>
<%- end -%>

<%- if @rolls.present? -%>
<h3>Votes</h3>
<ul>
  <% @rolls.each do |roll|  %>
    <li><%= render roll %></li>
  <% end %>
</ul>
<%- end -%>

