<h2><%= bill_title(@bill) %></h2>

<%= link_to 'View on OpenCongress', @bill.opencongress_url %>

<p>Introduced on <%= @bill.introduced_on.to_s(:long_ordinal) %>
<%- if @bill.sponsor -%>
  by <%= render @bill.sponsor %>
<%- end -%>
</p>

<h3>Summary</h3>
<p><%= @bill.summary %></p>

<h3>Supporting Politicians</h3>
<%- if (supporting = @bill.politicians.supporting).present? -%>
<ul>
  <% supporting.each do |politician|  %>
    <li><%= link_to politician.full_name, politician%></li>
  <% end %>
</ul>
<%- else -%>
  <p>We have no record of support for this bill</p>
<%- end -%>

<h3>Opposing Politicians</h3>
<%- if (opposing = @bill.politicians.opposing).present? -%>
<ul>
  <% opposing.each do |politician| %>
    <li><%= link_to politician.full_name, politician%></li>
  <% end %>
</ul>
<%- else -%>
  <p>We have no record of opposition for this bill</p>
<%- end -%>
