<%- title " Edit Criteria for #{@report.name} - Reports" -%>

<div class="section">
  <h2>Edit Legislative Agenda</h2>
  <%- if @report.bill_criteria.empty? -%>
    <p>This report doesn't have any bills selected</p>
  <%- else -%>
    <% form_for @report do |f| %>
      <table>
        <thead>
          <th>Bill</th>
          <th>Support/Oppose</th>
          <th><span class="info" title="This will be linked from the support/oppose declaration on the report page">Explanatory Link</span></th>
          <td></td>
        </thead>
        <tbody>
          <%- f.fields_for :bill_criteria do |bill_criteria_fields| -%>
            <%- criterion = bill_criteria_fields.object -%>
            <tr>
              <td>
                <%= render 'bills/bill', :bill => criterion.bill %>
                <%= bill_criteria_fields.hidden_field :bill_id %>
                <%= bill_criteria_fields.hidden_field :id %>
              </td>
              <td>
                <%= bill_criteria_fields.label :support_true, 'Support' %>
                <%= bill_criteria_fields.radio_button :support, true %><br />
                <%= bill_criteria_fields.label :support_false, 'Oppose' %>
                <%= bill_criteria_fields.radio_button :support, false %>
              </td>
              <td>
                <%= bill_criteria_fields.label :explanatory_url, 'Explanatory Link', :class => 'hide' %>
                <%= bill_criteria_fields.text_field :explanatory_url, :size => '20' %>
              </td>
              <td>
                <%= link_to('Remove', interest_group_bill_criterion_path(@report.user, @report, criterion),
                          :method => :delete,
                          :title => "Delete criterion for '#{criterion.bill.titles.first}'",
                          :confirm => "Are you sure you want to delete the criterion for '#{criterion.bill.titles.first}'?") -%>
              </td>
            </tr>
          <%- end -%>
        </tbody>
      </table>
      <p><%= f.submit 'Save Bill Criteria' %></p>
    <% end %>
  <%- end -%>
</div>