<% title "#{@amendment.display_name} - #{@amendment.title} - Amendments"  %>

<div style="max-width: 750px;">
  <h2><%= @amendment.display_name %> - <%= @amendment.title %></h2>
  <dl>
    <dt>Offered on</dt>
    <dd><%= @amendment.offered_on.to_s(:rfc822) %></dd>
    <%- if sponsor = @amendment.sponsoring_politician -%>
      <dt>By</dt>
      <dd><%= render 'politicians/politician', :politician => sponsor, :headshot_style => :small %></dd>
    <%- end -%>
    <dt>For</dt>
    <dd><%= render 'bills/bill', :bill => @amendment.bill %></dd>
  </dl>

  <h3>Votes</h3>
  <%- if @rolls.present? -%>
  <ul>
    <%- @rolls.each do |roll| -%>
    <li><%= render 'rolls/roll', :roll => roll %></li>
    <%- end -%>
  </ul>
  <%- else -%>
    <p>No roll call votes for this amendment</p>
  <%- end -%>
</div>
