<%- title score_title(@score) -%>
<div style="min-width: 600px; max-width: 900px;">
  <%- if @score.evidence.not_interest_group_ratings.present? -%>
    <%= render 'reports/scores/evidence_summary', :score => @score, :report => @report %>
  <%- end -%>

  <%- if @score.evidence.interest_group_ratings.present? -%>
    <%= javascript_tag do %>
    <%- unless @js -%>
      $(function () {
    <%- end -%>
      <% cache dom_id(@score, :interest_group_ratings) do %>
        <%- data = interest_group_score_evidence_points(@score) -%>
        new Highcharts.Chart({
          chart: {
            renderTo: '<%= dom_id(@score, :evidence) %>',
            defaultSeriesType: 'line',
            width: 600
          },
          credits: {
            text: 'Ratings thanks to Project Vote Smart',
            href: 'http://votesmart.org/issue_rating_category_about.php'
          },
          title: {
            text: '<%= "#{@score} for #{@score.politician.full_name}" %> based on <%= pluralize @score.evidence.interest_group_ratings.count, 'rating' %>',
          },
          subtitle: {
            text: 'click a data point to view the source for that point',
          },
          xAxis: {
            categories: <%= raw pare_down_score_dates(data.map {|p| p[:x] }).to_json %>
          },
          yAxis: {
            min: -4,
            max: 104,
            endOnTick: false,
            startOnTick: false,
            title: {
               text: 'Rating'
            }
          },
          tooltip: {
            formatter: function() {
              return this.point.tooltip;
            },
            style: {
              whiteSpace: 'normal'
            }
          },
          legend: {
            y: -25
          },
          plotOptions: {
             line: {
                point: {
                   events: {
                      click: function() {
                        window.location = this.vote_smart_url;
                      }
                   }
                }
             }
          },
          series: [{
            name: '<%= escape_javascript(@report.name) %>',
            type: 'line',
            data: <%= raw data.map {|p| p.slice(:y, :tooltip, :vote_smart_url) }.to_json %>
          }]
        });
      <% end %>
    <%- unless @js -%>
      });
    <%- end -%>
    <% end %>

    <%= div_for(@score, :evidence, :style => "width: 100%; height: 400px") do %>
    <% end %>
  <%- end -%>

  <%- if @score.evidence.not_interest_group_ratings.present? -%>
    <%= render 'reports/scores/evidence', :score => @score %>
  <%- end -%>
</div>
