<%=h candidacy.inspect %>

<%- end_offset = term.ended_on.month < 2 ? -1 : 0 -%>
<div>
  <p><strong><%= content_tag :span, term.started_on.year, :title => term.started_on.to_s(:long), :class => 'info' %></strong>:
     <%= candidacy.party %> Candidate for <%= candidacy.election %> <%= candidacy.race.district %></p>
</div>
