<%- title district_title(@district) -%>

<% div_for @district, :class => "section clearfix" do %>
  <h2><%= district_full_title_name(@district) %></h2>

  <%= render 'us/districts/maps/map', :district => @district %>

  <h3>Senators</h3>
  <ul>
    <%- @senators.each do |senator| -%>
      <li><%= render 'politicians/politician', :politician => senator %></li>
    <%- end -%>
  </ul>

  <h3>Representatives (<%= @representative.count %>)</h3>
  <ul>
    <%- @representative.each do |representative| -%>
      <li><%= render 'politicians/politician', :politician => representative %></li>
    <%- end -%>
  </ul>
<% end %>
