<%- title @district.title -%>

<% div_for @district, :class => "section clearfix" do %>
  <h2 class="span-24 last">The <%= congressional_district_name(@district) %></h2>

  <div class="span-12">
    <h3>President</h3>
    <ul>
      <%- @presidents.each do |president| -%>
        <%= render 'politicians/politician', :politician => president, :full_name => true, :tag => :li %>
      <%- end -%>
    </ul>

    <%- if @senators -%>
      <h3>Senators</h3>
      <ul>
        <%- @senators.each do |senator| -%>
          <%= render 'politicians/politician', :politician => senator, :full_name => true, :tag => :li %>
        <%- end -%>
      </ul>
    <%- end -%>

    <h3>Representatives (<%= @representative.count %>)</h3>
    <ul>
      <%- @representative.each do |representative| -%>
        <%= render 'politicians/politician', :politician => representative, :full_name => true, :tag => :li %>
      <%- end -%>
    </ul>
  </div>

  <div class="span-12 last">
    <%= render 'districts/map', :district => @district %>
  </div>
<% end %>
