<% title report_name(@report) %>

<% cache [dom_id(@report, :embed), current_geo_location.inspect].join(':') do %>
  <div class="embed">
    <% cache dom_id(@report, :embed_header) do %>
      <div class="header">
        <%= link_to report_name(@report), report_path(@report), :class => 'report_title' %>
        <%- if @report.user -%>
          <span class="report_creator">by <%= render 'users/user', :user => @report.user %></span>
        <%- end -%>
      </div>
    <% end %>

    <div id="embeded_report_scores">
      <dl class="report_scores">
        <%= render 'embeds/politicians/scores', :scores => @scores, :politicians => @politicians.select {|p| p.current_office_type == 'PresidentialTerm'} %>

        <dt>Senators of <%= @location.state %></dt>
        <%= render 'embeds/politicians/scores', :scores => @scores, :politicians => @politicians.select {|p| p.current_office_type == 'SenateTerm'} %>

        <%- reps = @politicians.select {|p| p.current_office_type == 'RepresentativeTerm'} -%>
        <%- if reps.size == 1 -%>
          <dt>Rep for <%= geo_description(@location) %></dt>
        <%- else -%>
          <dt>Reps of <%= geo_description(@location) %></dt>
        <%- end -%>
        <%= render 'embeds/politicians/scores', :scores => @scores, :politicians => reps %>
      </dl>
    </div>

    <% cache :embed_footer do %>
      <div class="footer">
        Grades provided by <%= link_to 'VoteReports', root_path %>
      </div>
    <% end %>
  </div>
<% end %>
