<%- title " Edit Criteria for #{@report.name} - Reports" -%>

<div class="section">
  <h2>Edit Legislative Agenda</h2>
  <%- if @report.has_criteria? -%>
    <%= form_for [@report.user, @report] do |f| %>
      <table>
        <thead>
          <th>Bill</th>
          <th>Support/Oppose</th>
          <th><span class="info" title="This will be linked from the support/oppose declaration on the report page">Explanatory Link</span></th>
          <td></td>
        </thead>
        <tbody>
          <%- @report.bill_criteria.each do |criterion| -%>
            <%= f.fields_for :bill_criteria, criterion do |bill_criteria_fields| -%>
              <tr>
                <td>
                  <%= render 'bills/bill', bill: criterion.bill %>
                  <%= bill_criteria_fields.hidden_field :bill_id %>
                  <%= bill_criteria_fields.hidden_field :id unless criterion.new_record? %>
                </td>
                <td>
                  <%= bill_criteria_fields.label :support_true, 'Support' %>
                  <%= bill_criteria_fields.radio_button :support, true %><br />
                  <%= bill_criteria_fields.label :support_false, 'Oppose' %>
                  <%= bill_criteria_fields.radio_button :support, false %>
                </td>
                <td>
                  <%= bill_criteria_fields.label :explanatory_url, 'Explanatory Link', class: 'hide' %>
                  <%= bill_criteria_fields.text_field :explanatory_url, size: '20' %>
                </td>
                <td>
                  <%= link_to('Remove', user_report_bill_criterion_path(@report.user, @report, criterion),
                            method: :delete,
                            title: "Delete criterion for '#{criterion.bill.titles.first}'",
                            confirm: "Are you sure you want to delete the criterion for '#{criterion.bill.titles.first}'?") -%>
                </td>
              </tr>
            <%- end -%>
          <%- end -%>
          <%- @report.amendment_criteria.each do |criterion| -%>
            <%= f.fields_for :amendment_criteria, criterion do |amendment_criteria_fields| -%>
              <tr>
                <td>
                  <%= render 'amendments/amendment', amendment: criterion.amendment %>
                  <%= amendment_criteria_fields.hidden_field :amendment_id %>
                  <%= amendment_criteria_fields.hidden_field :id unless criterion.new_record? %>
                </td>
                <td>
                  <%= amendment_criteria_fields.label :support_true, 'Support' %>
                  <%= amendment_criteria_fields.radio_button :support, true %><br />
                  <%= amendment_criteria_fields.label :support_false, 'Oppose' %>
                  <%= amendment_criteria_fields.radio_button :support, false %>
                </td>
                <td>
                  <%= amendment_criteria_fields.label :explanatory_url, 'Explanatory Link', class: 'hide' %>
                  <%= amendment_criteria_fields.text_field :explanatory_url, size: '20' %>
                </td>
                <td>
                  <%= link_to('Remove', user_report_amendment_criterion_path(@report.user, @report, criterion),
                            method: :delete,
                            title: "Delete criterion for '#{criterion.amendment.title}'",
                            confirm: "Are you sure you want to delete the criterion for '#{criterion.amendment.title}'?") -%>
                </td>
              </tr>
            <%- end -%>
          <%- end -%>
        </tbody>
      </table>
      <p><%= f.submit 'Save Agenda' %></p>
    <% end %>
  <%- else -%>
    <p>This report doesn't have any legislation selected</p>
  <%- end -%>
</div>