<%- title 'Knowing is Half the Ballot' -%>

<% content_for :above_content do %>
  <div id="hero" class="span-24">
    <div class="container">
      <h1><%= image_tag 'know_what_your_representatives_really_stand_for.png', :alt => 'Know what your representatives really stand for' %></h1>
      <div class="span-6">
        <h2>The voter guide like no other</h2>
        <p>We know how hard it is to know what politicians are <em>really</em> up to, so we created an open system for grading them from every perspective based on their actual votes and ratings from leading interest groups. Take a look at the voters guide like no other:</p>

        <%= link_to image_tag('get_started_now.png', :alt => 'Get Started Now'), new_guide_path %>
      </div>
      <div class="span-18 last guide_explanation">
        <%= link_to image_tag('guide_explanation.png', :alt => 'Select Your Location → Choose Your Causes → See How Your Reps Rate', :size => '621x197'), new_guide_path %>
      </div>
    </div>
  </div>
<% end %>

<div class="clearfix span-16" id="voters">
  <h3><%= requested_location ? "Reps in your area -" : "Sample Reps" %>
    <%= link_to requested_location, location_path(:return_to => request.path), :class => 'fancyboxy location' %>
  </h3>
  <div id="score_examples">
    <ul class="report_scores">
      <%- @scores.each do |score| -%>
        <li class="clearfix"><%= render score.report %><%= render 'politicians/score', :score => score %></li>
      <%- end -%>
    </ul>
    <p>Customize an overview of your reps: <%= link_to "Get Started Now", new_guide_path %></p>
  </div>
</div>

<div class="section clearfix span-8 last" id="advocates">
  <h3>Advocates</h3>

  <p>Check out a few of our recent user-created reports:</p>

  <%= render 'reports/list', :reports => @recent_reports %>
  <%= link_to content_tag(:span, 'See more Reports'), reports_path, :class => 'see_reports' %>
  <%= link_to content_tag(:span, 'Create your own'), new_report_path, :class => 'create_report' %>
</div>
