<%- title 'Knowing is Half the Ballot' -%>
<div class="section">
  <h3>Is your representative representing you?</h3>
  <p>At VoteReports, our politician report cards are created by people like you to condense all the complexity of politics to simple letter grades.  Simply:</p>

  <%= render 'site/instant_gratification' %>

  <p>Use VoteReports to see if your representatives truly represent you!</p>
</div>

<div class="section">
  <h3>Recent Reports</h3>
  <%= render 'reports/list', :reports => @recent_reports %>
  <%= link_to "See More...", reports_path %>
</div>

<div class="section">
  <h3>Featured Interest Group Reports</h3>
  <%= render 'reports/list', :reports => @featured_interest_group_reports %>
  <%= link_to "See More...", interest_groups_path %>
</div>
