<%- title 'Knowing is Half the Ballot' -%>
<div class="section">
  <h2>Knowing is Half the Ballot</h2>
  <p>At VoteReports, our politician report cards are created by people like you to condense all the complexity of politics to simple letter grades.  Simply:</p>

  <% form_tag root_url, :method => :get, :'data-replace' => '#scores_table' do %>
    <dl>
      <dt>1) Tell us who represents you</dt>
      <dd>
          <%= label_tag :from_where, 'From Where?' %>
          <%= text_field_tag :from_where, params[:from_where] %>
          <%= hidden_field_tag :in_office, true %>
          <%= submit_tag 'Go!' %>
      </dd>
      <dt>2) Tell us what you care about</dt>
      <dd><%= render 'subjects/cloud', :subjects => @subjects, :target => lambda {|tag| root_path(:tag => tag, :from_where => params[:from_where], :in_office => true) } %></dd>
      <dt>3) We'll tell you how well they represent you, really</dt>
      <dd><%= render 'scores/table' %></dd>
    </dl>
  <% end %>

  <p>Use VoteReports to see if your representatives truly represent you!</p>
</div>

<div class="section">
  <h2>Recent Reports</h2>
  <%= render 'reports/list', :reports => @recent_reports %>
  <%= will_paginate @recent_reports %>
</div>
