<%- title 'Knowing is Half the Ballot' -%>
<div class="section">
  <h3>Is your representative representing you?</h3>
  <p>At VoteReports, our politician report cards are created by people like you to condense all the complexity of politics to simple letter grades.  Simply:</p>

  <%= render 'site/instant_gratification' %>

  <p>Use VoteReports to see if your representatives truly represent you!</p>
</div>

<table class="section">
  <thead>
    <tr>
      <td><h3>Recent Reports</h3></td>
      <td><h3>Featured Interest Group Reports</h3></td>
    </tr>
  </thead>
  <tbody>
    <%- @recent_reports.zip(@featured_interest_group_reports) do |recent, featured_ig| -%>
      <tr>
        <td><%= render 'reports/report', :report => recent %></td>
        <td><%= render 'reports/report', :report => featured_ig %></td>
      </tr>
    <%- end -%>
    <tr>
      <td><%= link_to "See More...", reports_path %></td>
      <td><%= link_to "See More...", interest_groups_path %></td>
    </tr>
  </tbody>
</table>
