<%- title 'Knowing is Half the Ballot' -%>
<div class="section clearfix grid_8" id="voters">
  <h3>Know what your representatives <em>really</em> stand for</h3>
  <p>We want you to be empowered to make good choices when you vote, so we make it easy to know how your representatives vote on the issues important to you.  Just tell us your zip code, tell us what you care about, and we'll tell you how they're doing.</p>

  <h4 style="display: inline">Check Out <%= @reps.first %> Reps <%= "for #{requested_location}" if requested_location %></h4>
  <%= link_to "set your location", new_location_path(:return_to => request.path), :class => 'fancyboxy' %>
  <div id="score_examples">
    <ul class="report_scores">
      <%- @scores.each do |score| -%>
        <li class="clearfix"><%= render score.report %><%= render 'politicians/score', :score => score %></li>
      <%- end -%>
    </ul>
    <%= link_to 'Learn More about Your Reps...', guide_path %>
  </div>
</div>

<div class="section clearfix grid_4" id="advocates">
  <h3>Advocate Effectively</h3>

  <p>To publish your own report, simply flag the legislation you support or oppose.  We'll do the hard work of tracking and scoring the politicians' votes.  Check out a few of our recent user-created reports:</p>

  <%= render 'reports/list', :reports => @recent_reports %>
  Next <%= link_to 'see more Reports', reports_path %> or
  <%= link_to 'create your own...', new_report_path %>
</div>
