<%- title 'Knowing is Half the Ballot' -%>
<div class="section">
  <h3>Helping you Cast your Best Votes</h3>
  <p>We all want to vote for the best candidates, but we know how often they say one thing on the campaign trail, then do another in office.  At VoteReports, we tell you the real deal about your candidates, by condensing all their votes into simple letter grades on the issues important to you.</p>

  <p>Best of all, it's easy.  Just Tell us what you care about, and we'll tell you how your Reps are doing.<br /> We make it easy to see if your representatives truly represent you.</p>

  <div id="guide"><%= render 'site/guide' %></div>
</div>

<table class="section" id="featured_recent_reports">
  <thead>
    <tr>
      <th scope="col">Recent User Reports</th>
      <th scope="col">Featured Interest Group Reports</th>
    </tr>
  </thead>
  <tbody>
    <%- @recent_reports.zip(@featured_interest_group_reports) do |recent, featured_ig| -%>
      <tr>
        <td><%= render 'reports/report', :report => recent if recent %></td>
        <td><%= render 'reports/report', :report => featured_ig if featured_ig %></td>
      </tr>
    <%- end -%>
    <tr>
      <td><%= link_to "See More...", reports_path %></td>
      <td><%= link_to "See More...", interest_groups_path %></td>
    </tr>
  </tbody>
</table>
