<%- title 'Knowing is Half the Ballot' -%>

<% content_for :above_content do %>
  <div id="hero" class="span-24">
    <div class="container">
      <h1><span class="sprites front_page-know_what_your_representatives_really_stand_for"><span>Know what your representatives really stand for</span></span></h1>
      <div class="span-6">
        <p>We're making it easy to know where they stand. Our users make sense of their votes so you don't have to:</p>

        <%= link_to content_tag(:span, 'Get Started Now'), new_guide_path, :class => 'sprites front_page-get_started_now' %>
        <p class="no_reg">No Registration Required</p>
      </div>
      <div class="span-18 last guide_explanation">
        <%= link_to content_tag(:span, 'Select Your Location → Choose Your Causes → See How Your Reps Rate'), new_guide_path, :class => 'sprites front_page-guide_explanation' %>
      </div>
    </div>
  </div>
<% end %>

<div class="clearfix span-15" id="voters">
  <h3><%= requested_location ? "Reps in your area -" : "Sample Reps" %>
    <%= link_to requested_location, location_path(:return_to => request.path), :class => 'fancyboxy location' %>
  </h3>
  <div id="score_examples">
    <ul class="report_scores">
      <%- @scores.each do |score| -%>
        <li class="clearfix"><%= render 'politicians/bar_score', :score => score, :width => 460 %></li>
      <%- end -%>
    </ul>
    <p>Customize an overview of your reps: <%= link_to "Get Started Now", new_guide_path %></p>
  </div>
</div>

<div class="section clearfix span-9 last" id="advocates">
  <h3>Advocates</h3>

  <p>Check out a few of our recent user-created reports:</p>

  <%= render 'reports/list', :reports => @recent_reports %>
  <%= link_to content_tag(:span, 'See more Reports'), reports_path, :class => 'sprites front_page-button_seeMore' %>
  <%= link_to content_tag(:span, 'Create your own'), new_report_path, :class => 'sprites front_page-button_createreport' %>
</div>
