<%- title 'Knowing is Half the Ballot' -%>
<div class="section clearfix">
  <h3>Helping you Cast Votes to be Proud of</h3>
  <div class="left">
    <p>We all want to vote for the best candidates, but how do we know what the candidates <em>really</em> stand for?</p>

    <p>At VoteReports, we make it easy to know the real deal about your representatives, by condensing all their votes into simple letter grades on the issues important to you.</p>
  </div>

  <div class="right">
    <p>Best of all, it's easy.  Just tell us where you are &amp; what you care about, and we'll tell you how your representatives are doing.</p>
    <div class="guide_entry">
      <h4>Get started with 2 easy steps:</h4>
      <% form_tag guide_path, :method => :get, :class => 'tag_cloud' do %>
        <dl>
          <dt><%= label_tag :representing, '1) Enter your zip code' %></dt>
          <dd><%= text_field_tag :representing, requested_location, :tabindex => 1, :size => 10 %></dd>
        </p>
        <%= submit_tag 'Go!' %>
      <% end %>
    </div>
  </div>
</div>

<div class="section">
  <h3>A few examples</h3>
  <p>On the left, you see reports.  On the right is a single score from each report, and the representative who recived it.  Hover over the score to see the votes or interest group ratings which back it up.</p>
  <ul class="score_examples">
    <%- @politicians.each do |politician| -%>
      <%- score = politician.report_scores.published.rand -%>
      <li class="clearfix"><%= render score.report %><%= render 'politicians/score', :score => score %></li>
    <%- end -%>
  </ul>
</div>

<table class="section" id="featured_recent_reports">
  <thead>
    <tr>
      <th scope="col">Recent User Reports</th>
      <th scope="col">Featured Interest Group Reports</th>
    </tr>
  </thead>
  <tbody>
    <%- @recent_reports.zip(@featured_interest_group_reports) do |recent, featured_ig| -%>
      <tr>
        <td><%= render 'reports/report', :report => recent if recent %></td>
        <td><%= render 'reports/report', :report => featured_ig if featured_ig %></td>
      </tr>
    <%- end -%>
    <tr>
      <td><%= link_to "See More...", reports_path %></td>
      <td><%= link_to "See More...", interest_groups_path %></td>
    </tr>
  </tbody>
</table>
