<%- title 'Knowing is Half the Ballot' -%>
<div class="section">
  <h3>Helping you Cast your Best Votes</h3>
  <p>We want to vote for the best candidates, but we've seen how often they say one thing on the campaign trail, then do another in office.  At VoteReports, our politician report cards condense all their votes in office down to simple letter grades on the issues that matter most to you.</p>

  <p>Tell us what you care about, and we'll tell you how your Reps are doing. We make it easy to see if your representatives truly represent you.</p>

  <div id="guide"><%= render 'site/guide' %></div>
</div>

<table class="section" id="featured_recent_reports">
  <thead>
    <tr>
      <th scope="col">Recent User Reports</th>
      <th scope="col">Featured Interest Group Reports</th>
    </tr>
  </thead>
  <tbody>
    <%- @recent_reports.zip(@featured_interest_group_reports) do |recent, featured_ig| -%>
      <tr>
        <td><%= render 'reports/report', :report => recent if recent %></td>
        <td><%= render 'reports/report', :report => featured_ig if featured_ig %></td>
      </tr>
    <%- end -%>
    <tr>
      <td><%= link_to "See More...", reports_path %></td>
      <td><%= link_to "See More...", interest_groups_path %></td>
    </tr>
  </tbody>
</table>
