<%- title 'Knowing is Half the Ballot' -%>
<div class="section clearfix" id="voters">
  <h3>Voters: Know what your representatives <em>really</em> stand for</h3>
  <p>We want you to be empowered to make good choices when you vote, so we make it easy to know how your representatives vote on the issues important to you.  Just tell us your zip code, tell us what you care about, and we'll tell you how they're doing.</p>

  <div class="clearfix">
    <h4 class="left">Check Out <%= @reps.first %> Reps</h4>
    <div class="right">
      <div class="guide_entry">
        <% form_tag root_path, :method => :get, :class => 'tag_cloud', :'data-replace' => 'score_examples' do %>
          <dl>
            <dt><%= label_tag :representing, 'Show Reps for Your Location' %>:</dt>
            <dd><%= text_field_tag :representing, requested_location, :size => 10 %></dd>
          </dl>
          <p class="hidden"><%= submit_tag 'Show Reps for Your Location' %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div id="score_examples">
    <%= render 'scores/list', :scores => @scores %>
  </div>
</div>

<div class="section clearfix" id="advocates">
  <h3>Advocates: Bring Your Cause to the Voters</h3>
  <p>You want to set the world of politics right, to bring on better policies for your communities, but are you connecting with your constituency?  VoteReports helps you keep them in the loop, so your cause in mind when they go to the ballot box.</p>

  <p>To publish your own report, simply flag the legislation you support or oppose.  We'll do the hard work of tracking and scoring the politicians' votes.  Check out a few of our recent user-created reports:</p>

  <%= render 'reports/list', :reports => @recent_reports %>
  Next <%= link_to 'see more Reports', reports_path %> or
  <%= link_to 'create your own...', new_report_path %>
</div>
