<%- title 'Knowing is Half the Ballot' -%>

<div id="hero">

  <div id="logoarea">
    <a href="/"><%= image_tag 'global/votereports_logo.png' %></a>
    <%= render 'layouts/account_links' %>
  </div>

<%- cache do -%>

  <div id="center-box">
    <div id="action-box">
      <span class="large-section-header">Actions speak louder than words.</span>
      <p id="hero-copy">Identify like-minded U.S. political candidates based on their voting history on issues important to you.</p>
      <div><%= link_to content_tag(:span, "Let's get started!"), new_guide_path, class: 'call-to-action' %></div>
      <span id="disclaimer-copy">No registration required. <a href="#how_it_works">Learn how it works.</a></span>
    </div>
  </div>

</div>

<div id="circlebg"></div>

<%= render 'layouts/menu_row' %>

<div class="container" id="instruct-container">

  <div class="span-24 last">
    <span class="large-section-header" id="how_it_works">How does Vote Reports work?</span>
  </div>

  <div class="span-24 last" id="diagram-row-one">
    <div class="span-9"><p class="large-hp-text">At Vote Reports, we believe the most reliable way of gauging a politician's compatibility is by evaluating their voting record. So we made it easy.</p></div>
    <div class="span-15 last">
      <div class="span-9"><%= image_tag 'homepage/circle_1.png', id: 'circle1' %></div>
      <div class="span-6 last" id="grades-matter">
        <span class="section-header">Grades matter</span><br />
        <p class="medium-text">High grades mean the politician is graded well according to the issue they are being evaluated on. Just click on any grade to see the facts that went into it.</p>
      </div>
    </div>
  </div>

  <div class="span-24 last" id="diagram-row-two">
    <div class="span-8"><%= image_tag 'homepage/circle_2.png', id: 'circle2' %></div>
    <div class="span-8" id="source-of-ratings">
      <span class="section-header">The source of the ratings</span><br />
      <p class="medium-text">Vote Reports does not rate politicians. Rather, every rating is generated from two sources: interest group ratings (e.g. ACLU, NRA) and legislative agendas from interest groups and members of Vote Reports.</p>
    </div>
    <div class="span-8 last" id="other-grades">
      <div class="span-4">
        <%= image_tag 'homepage/grade_incomplete.png' %>
        <p class="small-text">Ratings with a colored border are derived from limited sources or from candidates with no voting history.</p>
      </div>
      <div class="span-4 last">
        <%= image_tag 'homepage/grade_unknown.png' %>
        <p class="small-text">Ratings with a question mark mean that we have no records for the politician on this viewed issue.</p>
      </div>
    </div>
  </div>

  <div class="span-24 last" id="diagram-row-three">
    <div class="span-8" id="groups-explained">
      <%= link_to content_tag(:span, 'Interest group ratings', class: "section-header"), interest_groups_path %><br />
      <p class="medium-text">Interest groups individually have their own criteria of evaluating a politician. This usually includes voting records, interviews, survey results, and sources of funding. We also import interest group ratings from <a href="http://votesmart.org/">Project VoteSmart</a>.</p>
    </div>

    <div class="span-8"><%= image_tag 'homepage/circle_3.png', id: 'circle3' %></div>

    <div class="span-8 last" id="groups-explained">
      <%= link_to content_tag(:span, 'Member created reports', class: "section-header"), reports_path(:from_members => true) %><br />
      <p class="medium-text">Registered members can also create their own grades on politicians. Members create a report outlining which bills they support and are against. The system then automatically generates a score for all politicians.</p>
    </div>
  </div>

  <div class="span-24 last" id="diagram-row-four">
    <div class="span-8">&nbsp;</div>
    <div class="span-8"><%= image_tag 'homepage/circle_4.png', id: 'circle4' %></div>
    <div class="span-8 last" id="believe-in-a-cause">
      <%= link_to content_tag(:span, 'Believe in a Cause', class: "section-header"), causes_path %><br />
      <p class="medium-text">Since many interest groups and member generated reports overlap certain subjects, we combine them into Causes. In essence, it’s a stance on an issue. Collecting many scores helps average the grade and avoid one or more groups from polarizing a politicians grade.</p>
    </div>
  </div>

  <div class="span-24 last" id="diagram-row-five">
    <div class="span-8">
      <%= image_tag 'homepage/imac_preview.jpg', id: 'preview' %>
    </div>
    <div class="span-16 last" id="the-votercard">
      <%= link_to content_tag(:span, 'The VoterCard', class: 'large-section-header'), new_guide_path %>
      <p class="large-hp-text" id="diagram-copy">These ratings and causes culminate into the comprehensive and easy-to-use Vote Reports VoterCard. Just answer a few easy questions to get your own personal ratings for the candidates.</p>
      <%= link_to content_tag(:span, "Let's get started!"), new_guide_path, class: 'call-to-action' %>
    </div>
  </div>
</div>

<%- end -%>
