<% form_for [@user,@report] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class => "text" %><br />
    <%= f.label :description %><br />
    <%= f.text_area :description %><br />
    <p class="small">(you can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>)</p>
    <%= f.submit "Save", :class => 'submit' %>
  </p>
<% end %>
