<%- title "#{@user.username}'s Published Reports" -%>

<div class="section">
  <h2><%= render 'users/user', user: @user, thumbnail_size: 50, no_links: true %>'s Published Reports</h2>

  <%- if @reports.empty? -%>
    <%- if @user == current_user -%>
      <p>You haven't published a report yet - <%= link_to "try it out!", new_user_report_path(@user) %></p>
    <%- else -%>
      <p><%= @user.username %> hasn't published any reports yet</p>
    <%- end -%>
  <%- else -%>
    <ul>
    <% @reports.each do |report| %>
      <li><%= render 'reports/report', report: report %></li>
    <% end %>
    </ul>
  <%- end -%>

  <%- if current_user == @user -%>
  <p>
    <%= link_to "New Report", new_user_report_path(@user) %> |
    <%= link_to "View All Reports", user_path(@user) %>
  </p>
  <%- end -%>
</div>
