<%- title "#{@report.name} - Reports" -%>

<%= render 'reports/header', :report => @report %>

<%- permitted_to? :edit, @report do -%>
  <%= link_to 'Edit Report', edit_user_report_path(@report.user, @report) %>
<%- end -%>

<div class="ui-tabs" id="<%= dom_id(@report, :tabs) %>">
  <ul>
    <li><%= link_to content_tag(:span, 'Scores'), user_report_report_scores_path(@report.user, @report, :format => :html), :title => 'Scores' %></li>
    <li><% link_to user_report_agenda_path(@report.user, @report, :format => :html), :title => 'Agenda' do %>
      <span>Agenda <span class="count"><%= @report.bill_criteria.active_count %></span></span>
    <% end %></li>
    <li><% link_to user_report_subjects_path(@report.user, @report, :format => :html), :title => 'Subjects' do %>
      <span>Subjects <span class="count"><%= @report.subjects.count %></span></span>
    <% end %></li>
    <li><%= link_to content_tag(:span, 'Visibility'), user_report_visibility_path(@report.user, @report, :format => :html), :title => 'Visibility' %></li>
    <li><% link_to user_report_causes_path(@report.user, @report, :format => :html), :title => 'Causes' do %>
      <span>Causes <span class="count"><%= @report.causes.count %></span></span>
    <% end %></li>
  </ul>
</div>
