<% title "Report - #{h @report.name}" %>

<%= render 'reports/header', :report => @report %>

<%- permitted_to? :edit, @report do -%>
  <%= link_to 'Edit Report', edit_user_report_path(@report.user, @report) %>
<%- end -%>

<div class="ui-tabs">
  <ul>
    <li><%= link_to content_tag(:span, 'Scores'), user_report_scores_path(@report.user, @report), :title => 'Scores' %></li>
    <li><%= link_to content_tag(:span, 'Subjects'), user_report_subjects_path(@report.user, @report), :title => 'Subjects' %></li>
    <li><%= link_to content_tag(:span, 'Agenda'), user_report_agenda_path(@report.user, @report), :title => 'Agenda' %></li>
    <li><%= link_to content_tag(:span, 'Visibility'), user_report_visibility_path(@report.user, @report), :title => 'Visibility' %></li>
  </ul>
</div>
