<% title "Report - #{h @report.name}" %>

<h2><%= @report.name %></h2>

<p>Created by <%= render 'users/user', :user => @report.user %></p>

<%- unless @report.description.blank? -%>
<blockquote><%= raw @report.description %></blockquote>
<%- end -%>

<h3>Scores</h3>
<%- if @report.scores.present? -%>
  <ol>
    <%- @report.scores.each do |score| -%>
      <li><%= render 'politicians/politician', :politician => score.politician %>: <%= score.score.round %>%
         (<%= link_to 'votes', '#',
         :'data-dialog' => "##{dom_id(score.politician, :report_score_evidence)}",
         :'data-dialog-title' => "Significant Votes for #{score.politician.full_name} on '#{@report.name}'" %>)

        <dl id="<%= dom_id(score.politician, :report_score_evidence) %>" class="hidden">
          <%- score.evidence.group_by(&:subject).each_pair do |bill, bill_scores| -%>
          <dt><%= render 'bills/bill', :bill => bill %>:
            <%= bill_scores.first.bill_criterion.position %></dt>
          <dd><dl>
            <%- bill_scores.each do |bill_score| -%>
              <dt><%= render 'rolls/roll', :roll => bill_score.vote.roll %></dt>
              <dd><%= bill_score.vote.position %></dd>
            <%- end -%>
          </dl></dd>
          <%- end -%>
        </dl>
      </li>
    <%- end -%>
  </ol>
<%- elsif @report.bill_criteria.blank? -%>
  <p>No scores yet, as this report has no criteria to judge representatives by.</p>
<%- else -%>
  <p>No scores yet, as the associated bills have not been voted on.</p>
<%- end -%>

<h3 id="bill_criteria">Bill Criteria</h3>
<%- if @report.bill_criteria.present? -%>
  <ul>
    <%- @report.bill_criteria.each do |criterion| -%>
      <li class="bill_criterion">
        <%= render 'bill_criteria/bill_criterion', :bill_criterion => criterion %>
        <%- if @report.user == current_user -%>
          <%= raw button_to('delete', user_report_bill_path(current_user, @report, criterion.bill),
                                :method => :delete,
                                :title => "Delete criterion for '#{criterion.bill.titles.first}'",
                                :confirm => "Are you sure you want to delete the criterion for '#{criterion.bill.titles.first}'?") %>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
<%- elsif @report.user == current_user -%>
  <p>You need to add bills to this report in order to generate a score:</p>
<%- else -%>
  <p>This report doesn't have any bills selected</p>
<%- end -%>

<%- if @report.user == current_user -%>
  <%= render 'users/reports/bills/search', :label => 'Add Bills', :report => @report %>
<%- end -%>

<p>
  <%- if @report.user == current_user -%>
    <%= link_to "Edit", edit_user_report_path(current_user, @report) %> |
    <%= link_to "Destroy", [current_user, @report], :confirm => 'Are you sure?', :method => :delete %> |
  <%- end -%>
  <%= link_to "View All", reports_path %>
</p>
