<% title "Report - #{h @report.name}" %>
<% scores = @report.generate_scores! %>

<h2><%= @report.name %></h2>

<p>Created by <%= render 'users/user', :user => @report.user %></p>

<%- unless @report.description.blank? -%>
<blockquote><%= raw @report.description %></blockquote>
<%- end -%>

<h3>Scores</h3>
<%- if scores.present? -%>
  <ol>
    <%- scores.each do |(politician, score)| -%>
      <li><%= render 'politicians/politician', :politician => politician %>: <%= score.round %>%</li>
    <%- end -%>
  </ol>
<%- elsif @report.bill_criteria.blank? -%>
  <p>No scores yet, as this report has no criteria to judge representatives by.</p>
<%- else -%>
  <p>No scores yet, as the associated bills have not been voted on.</p>
<%- end -%>

<h3>Bill Criteria</h3>
<%- if @report.bill_criteria.present? -%>
  <ul>
    <%- @report.bill_criteria.each do |criterion| -%>
      <li>
        <%= render 'bill_criteria/bill_criterion', :bill_criterion => criterion %>
        <%- if @report.user == current_user -%>
          <%= link_to('delete', user_report_bill_path(current_user, @report, criterion.bill), :method => :delete,
                                :title => "Delete '#{criterion.bill.titles.best}' criterion") %>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
<%- elsif @report.user == current_user -%>
  <p>You need to add bills to this report in order to generate a score:</p>
<%- else -%>
  <p>This report doesn't have any bills selected</p>
<%- end -%>

<%- if @report.user == current_user -%>
  <%= render 'users/reports/bills/search', :label => 'Add Bills', :report => @report %>
<%- end -%>

<p>
  <%- if @report.user == current_user -%>
    <%= link_to "Edit", edit_user_report_path(current_user, @report) %> |
    <%= link_to "Destroy", [current_user, @report], :confirm => 'Are you sure?', :method => :delete %> |
  <%- end -%>
  <%= link_to "View All", reports_path %>
</p>
