<% title "Report - #{h @report.name}" %>

<h2><%= @report.name %></h2>

<p>Created by <%= render 'users/user', :user => @report.user %></p>

<%- unless @report.description.blank? -%>
<blockquote><%= raw @report.description %></blockquote>
<%- end -%>

<%- if @report.user == current_user -%>
<p>
  <%= link_to "Edit Name & Description", edit_user_report_path(current_user, @report) %> |
  <%= link_to "Delete this Report", [current_user, @report], :confirm => 'Are you sure?', :method => :delete %>
</p>
<%- end -%>

<h3>Scores</h3>
<%= render 'reports/scores/table', :report => @report, :top_scores => @top_scores, :bottom_scores => @bottom_scores %>

<h3 id="bill_criteria">Bill Criteria</h3>
<%- if @report.bill_criteria.present? -%>
  <ul>
    <%- @report.bill_criteria.each do |criterion| -%>
      <li class="bill_criterion">
        <%= render 'bill_criteria/bill_criterion', :bill_criterion => criterion %>
        <%- if @report.user == current_user -%>
          <%= raw button_to('delete', user_report_bill_path(current_user, @report, criterion),
                                :method => :delete,
                                :title => "Delete criterion for '#{criterion.bill.titles.first}'",
                                :confirm => "Are you sure you want to delete the criterion for '#{criterion.bill.titles.first}'?") %>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
<%- elsif @report.user == current_user -%>
  <p>You need to add bills to this report in order to generate a score:</p>
<%- else -%>
  <p>This report doesn't have any bills selected</p>
<%- end -%>

<%- if @report.user == current_user -%>
  <%= render 'users/reports/bills/search', :label => 'Add Bills', :report => @report %>
<%- end -%>
