<<<<<<< HEAD
<%- title "#{@report.name} - Reports" -%>

<div class="report-show">
  <div class="body span-18">
    <h1><%= @report.name %></h1>
    <p>by <%= render 'users/user', :user => @report.user %></p>

    <%= render 'reports/follows/button', :report => @report %>
    <div class="description"><%= md_to_html(@report.description) %></div>

    <div id="report_scores_section" class="section report_scores">
      <%= render 'politicians/search', :in_office => true, :replace => 'report_scores',
        :url => user_report_report_scores_path(@report.user, @report),
        :reset_path => user_report_report_scores_path(@report.user, @report, :representing => '') %>
      <div class="act-fill"
        rel="<%= user_report_report_scores_path(@report.user, @report) %>"
         id="scores"></div>
    </div>
  </div>

  <div class="sidebar span-6 last">
    <div class="spacer">
      <%- if @report.thumbnail.exists? -%>
      <div class="logo span-6 last"><%= sized_image_tag @report.thumbnail, @report.name, :style => :header, :class => 'image_large' %></div>
      <%- end -%>
      <div class="name"><%= @report.name %></div>
      <p>by <%= render 'users/user', :user => @report.user %></p>

      <%- permitted_to? :edit, @report do -%>
        <%= link_to 'Edit Report', edit_user_report_path(@report.user, @report) %>
      <%- end -%>

      <%- if permitted_to?(:edit, @report) && !@report.published? -%>
        <div class="publicize">
          <h2>Publicize Your Report!</h2>
          <%= report_next_step(@report) %>
        </div>
      <%- end -%>

      <dl>
        <dt><%= pluralize_word(@subjects.size, 'Subject') %></dt>
        <%- @subjects.each do |subject| -%>
          <dd><%= render 'subjects/subject', :subject => subject, :subject_only => true %></dd>
        <%- end -%>
        <dt><%= pluralize_word(@causes.size, 'Cause') %></dt>
        <%- if @causes.blank? -%>
          <dd>None</dd>
        <%- else -%>
          <%- @causes.each do |cause| -%>
            <dd><%= render 'causes/cause', :cause => cause %></dd>
          <%- end -%>
        <%- end -%>
      </dl>

      <div id="embed">
        <h1>Embed this report in your website</h1>
        <% form_tag do %>
          <%= text_area_tag '', report_embed_code(@report), :onclick => 'this.focus(); this.select();' %>
          <%= clippy(report_embed_code(@report)) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="span-24 last act-fill"
  rel="<%= user_report_agenda_path(@report.user, @report, :format => :html) %>"
  id="<%= dom_id(@report, :agenda) %>"></div>
