<% title "Report - #{h @report.name}" %>
<% scores = @report.generate_scores! %>

<h2><%=h @report.name %></h2>

<p>
  Created by <%= link_to h(@report.user.username), @report.user %>
</p>

<%- top_scores = scores[0..20] -%>
<%- if top_scores.present? -%>
  <h3>Top Scores</h3>
  <ol>
    <%- top_scores.each do |(politician, score)| -%>
      <li><%= render 'politicians/politician', :politician => politician %>: <%= score %></li>
    <%- end -%>
  </ol>
<%- end -%>

<%- lowest_scores = scores[-20..-1] -%>
<%- if lowest_scores.present? -%>
  <h3>Lowest Scores</h3>
  <ol>
    <%- lowest_scores.each do |(politician, score)| -%>
      <li><%= render 'politicians/politician', :politician => politician %>: <%= score %></li>
    <%- end -%>
  </ol>
<%- end -%>

<h3>Bill Criteria</h3>
<%- if @report.bill_criteria.present? -%>
  <ul>
    <%- @report.bill_criteria.each do |criterion| -%>
      <li><%= render 'bill_criteria/bill_criterion', :bill_criterion => criterion %></li>
    <%- end -%>
  </ul>
<%- elsif @report.user == current_user -%>
  <p>You need to add bills to this report in order to generate a score:</p>
<%- else -%>
  <p>This report doesn't have any bills selected</p>
<%- end -%>

<%- if @report.user == current_user -%>
  <h3>Add Bills to Report</h3>
  <%= render 'bills/search', :label => '', :path => new_user_report_bills_path(@report.user, @report) %>
<%- end -%>

<p>
  <%- if @report.user == current_user -%>
    <%= link_to "Edit", edit_report_path(@report) %> |
    <%= link_to "Destroy", @report, :confirm => 'Are you sure?', :method => :delete %> |
  <%- end -%>
  <%= link_to "View All", reports_path %>
</p>
