<%- if score.nil? -%>
  <div class="report_score">
    <span class="score">—</span>
  </div>
<%- else -%>
  <%- score_id = "#{score.report.to_param}_evidence_for_#{score.politician.to_param}" -%>
  <div class="report_score hoverable">
    <%= content_tag :span, "#{score.score.round}%", :class => 'score',
      :'data-dialog' => "##{score_id}" %>
    <div class="report_score_evidence_link">
      based on <%= link_to pluralize(score.evidence.size, 'vote'), '#',
      :'data-dialog' => "##{score_id}" %>
    </div>
  </div>

  <dl id="<%= score_id %>" class="hidden"
    data-dialog-title="<%= "Significant Votes for #{score.politician.full_name} on '#{score.report.name}'" %>">
    <%- score.evidence.group_by(&:subject).each_pair do |bill, bill_scores| -%>
    <dt><%= render 'bills/bill', :bill => bill %>:
      <%= bill_scores.first.bill_criterion.position %></dt>
    <dd><dl>
      <%- bill_scores.each do |bill_score| -%>
        <dt><%= render 'rolls/roll', :roll => bill_score.vote.roll %></dt>
        <dd><%= bill_score.vote.position %></dd>
      <%- end -%>
    </dl></dd>
    <%- end -%>
  </dl>
<%- end -%>