<div class="report_score hoverable">
  <%= link_to "#{score.score.round}%", '#', :class => 'score',
    :'data-dialog' => "##{dom_id(score.politician, :report_score_evidence)}",
    :'data-dialog-title' => "Significant Votes for #{score.politician.full_name} on '#{score.report.name}'" %>
  <div class="report_score_evidence_link">
    based on <%= link_to pluralize(score.evidence.size, 'vote'), '#',
    :'data-dialog' => "##{dom_id(score.politician, :report_score_evidence)}",
    :'data-dialog-title' => "Significant Votes for #{score.politician.full_name} on '#{score.report.name}'" %>
  </div>
</div>

<dl id="<%= dom_id(score.politician, :report_score_evidence) %>" class="hidden">
  <%- score.evidence.group_by(&:subject).each_pair do |bill, bill_scores| -%>
  <dt><%= render 'bills/bill', :bill => bill %>:
    <%= bill_scores.first.bill_criterion.position %></dt>
  <dd><dl>
    <%- bill_scores.each do |bill_score| -%>
      <dt><%= render 'rolls/roll', :roll => bill_score.vote.roll %></dt>
      <dd><%= bill_score.vote.position %></dd>
    <%- end -%>
  </dl></dd>
  <%- end -%>
</dl>