<%-
  score_count = (scores.count + 1)
  replace ||= 'report_scores'
-%>

<div class="report_scores" id="report_scores">
  <%- if report.delayed_jobs.passing.present? -%>
    <p class="scores_generating notice">
      Updates have been made to this report, and its scores are being updated.<br />
      Check back in a few minutes to see the updated scores.
    </p>
  <%- end -%>
  <%- if report.delayed_jobs.failing.present? -%>
    <p class="scores_generating error">
      There was a problem updating the scores to this report.<br />
      We at VoteReports will be looking into it shortly, please be patient.
    </p>
  <%- end -%>
<%- if score_count > 36 -%>
  <%- votes_how = params[:votes_how].present? ? params[:votes_how].to_sym : :with -%>

  <%= form_tag target_path, class: 'act-replace', rel: replace do %>
    <%- params.each_pair do |key, value| -%>
      <%= hidden_field_tag key, value %>
    <%- end -%>
    <ul class="score_view_options clearfix">
      <li class="span-6"><%= link_to "Votes With (#{scores.with.count})", target_path + '?votes_how=with', class: "act-replace span-6 last round-4 #{'selected' if votes_how == :with}" %></li>
      <li class="span-6"><%= link_to "Votes Against (#{scores.against.count})", target_path + '?votes_how=against', class: "act-replace span-6 last round-4 #{'selected' if votes_how == :against}" %></li>
      <li class="span-6 last"><%= link_to "Neutral (#{scores.neutral.count})", target_path + '?votes_how=neutral', class: "act-replace span-6 last round-4 #{'selected' if votes_how == :neutral}" %></li>
    </ul>
  <% end %>
  <%- scores = scores.with_evidence.votes_how(votes_how).page(params[:page]) -%>
  <ul class="clearfix">
    <%- scores.each do |score| -%>
      <li class="<%= cycle('left', 'right') %>"><%= render 'politicians/score', score: score, report: report %></li>
    <%- end -%>
  </ul>
  <div class="act-replace score-pagination round-4" rel="<%= replace %>"><%= paginate scores %></div>
<%- elsif score_count > 8 -%>
  <%- scores = scores.with_evidence.page(params[:page]) -%>
  <ul class="clearfix">
    <%- scores.each do |score| -%>
      <li class="<%= cycle('left', 'right') %>"><%= render 'politicians/score', score: score, report: report %></li>
    <%- end -%>
  </ul>
  <div class="act-replace score-pagination round-4" rel="<%= replace %>"><%= paginate scores %></div>
<%- elsif score_count > 1 -%>
  <%- scores = scores.with_evidence.page(params[:page]) -%>
  <ul>
    <%- scores.each do |score| -%>
      <li class="full_width"><%= render 'politicians/score', score: score, report: report %></li>
    <%- end -%>
  </ul>
  <div class="act-replace score-pagination round-4" rel="<%= replace %>"><%= paginate scores %></div>
<%- elsif report.delayed_jobs.present? -%>
  <p>Scores are being generated. Please try again in a moment.</p>
<%- elsif report.scores.present? && params[:representing].present? -%>
  <p>No scores found for: "<%= params[:representing] %>"</p>
<%- elsif report.owner.is_a?(User) && !report.has_criteria? -%>
  <p>No scores yet, as this report has no criteria to judge representatives by.</p>
<%- elsif report.has_criteria? && report.bill_criteria.active.count == 0 && report.amendment_criteria.active.count == 0 -%>
    <p>No scores yet, as the associated legislation has not been voted on.</p>
<%- elsif report.owner.is_a?(InterestGroup) && report.owner.ratings.blank? -%>
  <p>No ratings on record for this group</p>
<%- elsif report.owner.is_a?(Cause) && report.owner.reports.blank? -%>
  <p>No reports on record for this cause</p>
<%- else -%>
  <p>No scores found</p>
<%- end -%>
</div>