<%- title score_title(@score) -%>
<div>
  <div class="report_score_evidence_link">
    based on
    <ul>
      <%- @score.evidence.group_by(&:evidence_type).each_pair do |type, evidence| -%>
        <li><%= pluralize(evidence.size, human_type_name(type)) %></li>
      <%- end -%>
    </ul>
  </div>
  <%- if @score.report.owner.is_a?(InterestGroup) -%>
    <%= render 'interest_groups/report_score_evidence', :score => @score %>
  <%- else -%>
    <dl>
      <%- @score.evidence.group_by(&:subject).each_pair do |subject, subject_scores| -%>
        <%- subject_scores.each do |bill_score| -%>
          <%- roll = bill_score.evidence.roll -%>
          <dt><%= link_to "On #{roll.voted_at.to_date.to_s(:long)} voted #{bill_score.evidence.position}", roll %></dt>
        <%- end -%>
        <dd>On <%= render 'bills/bill', :bill => subject, :hide_year => true, :no_titles => true %> which this report <%= subject_scores.first.criterion.position %>s</dd>
      <%- end -%>
    </dl>
  <%- end -%>
</div>
