<%- title score_title(@score) -%>
<div>
  <div class="report_score_evidence_link">
    based on
    <ul>
      <%- @score.evidence.group_by(&:evidence_type).each_pair do |type, evidence| -%>
        <li><%= pluralize(evidence.size, human_type_name(type)) %></li>
      <%- end -%>
    </ul>
  </div>
  <dl>
    <%- @score.evidence.group_by(&:subject).each_pair do |subject, subject_scores| -%>
      <%- if subject.is_a?(Bill) -%>
        <dt><%= render 'bills/bill', :bill => subject %>:
          <%= subject_scores.first.criterion.position %></dt>
        <dd><dl>
          <%- subject_scores.each do |bill_score| -%>
            <dt><%= render 'rolls/roll', :roll => bill_score.evidence.roll %></dt>
            <dd><%= bill_score.evidence.position %></dd>
          <%- end -%>
        </dl></dd>
      <%- elsif subject.is_a?(InterestGroupReport) -%>
        <%- notify_exceptional("Multiple interest group ratings #{subject_scores.inspect}") if subject_scores.size > 1 -%>
        <%- rating = subject_scores.first.evidence -%>
        <dt><%= link_to "In #{subject.timespan}: #{rating.numeric_rating.round}%", subject.vote_smart_url %></dt>
        <dd><%= rating.description %></dd>
      <%- else -%>
        <% raise "Unknown subject! #{subject.inspect}" %>
      <%- end -%>
    <%- end -%>
  </dl>
</div>
