<%- title %Q{"#{@roll.question}" - Roll Call Votes} -%>

<div class="section">
  <h2><%= render @roll %></h2>

  <dl>
    <dt>Subject</dt>
    <dd><%= render @roll.subject %></dd>
  </dl>

  <ul>
    <li><%= @roll.roll_type %></li>
    <li><%= @roll.required %> required</li>
    <li>Result: <%= @roll.result %></li>
    <%- if @roll.opencongress_url -%>
    <li><%= link_to 'View on OpenCongress', @roll.opencongress_url %></li>
    <%- end -%>
  </ul>
</div>

<div class="section">
  <table>
    <thead>
      <tr>
        <th>For: <%= @roll.aye %></th>
        <th>Against: <%= @roll.nay %></th>
        <th>Not Voting: <%= @roll.not_voting %></th>
        <th>Present: <%= @roll.present %></th>
      </tr>
    </thead>
    <tbody>
      <%- @roll.votes.aye.zip(@roll.votes.nay, @roll.votes.not_voting, @roll.votes.present).each do |row| -%>
        <tr>
          <%- row.each do |vote| -%>
            <td><%= render vote.politician if vote %></td>
          <%- end -%>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</div>