<%-
  selected ||= nil
  scores ||= []
-%>

<div class="span-5">
  <div class="stances round-4">
    <h2>Your Stance</h2>
    <dl>
      <dt class="<%= 'selected ' if !selected %>round-4">
        <%= link_to 'Overall Score', new_guide_path(:from => 'location'), :class => 'act-replace', :rel => 'instant_scores' %>
      </dt>
      <dt>Supported</dt>
      <% guide.reports_supported.each do |report| %>
        <%= render 'guides/stance', :report => report, :selected => selected %>
      <% end %>
      <dt>Opposed</dt>
      <% guide.reports_opposed.each do |report| %>
        <%= render 'guides/stance', :report => report, :selected => selected %>
      <% end %>
    </ul>
  </div>
</div>

<%- politicians = guide.politicians -%>
<div class="span-19 last">
<table class="guide_scores">
  <%- general_stage = guide.elections.first.stages.future.by_voted_on.first -%>
  <%= general_stage.voted_on.to_s(:long) %>, <%= general_stage.name %>
  <%- guide.elections.each do |election| -%>
    <%- stage = election.stages.future.by_voted_on.first -%>
    <%- if (races = stage.races.for_districts(guide.districts)).present? -%>
      <%- races.each do |race| -%>
        <thead>
          <tr>
            <th>Candidates for <%= race.office.name %> of <%= race.where %></th>
            <th>Grade</th>
            <th># of reports</th>
            <th>Party</th>
            <th>Choice</th>
          </tr>
        </thead>
        <tbody>
          <%- race.candidacies.each do |candidacy| -%>
            <tr class="<%= cycle('even', 'odd') %>">
              <%-
                headshot = candidacy.politician.headshot
                score = score_for(scores, candidacy.politician)
                politicians.delete(candidacy.politician)
              -%>
              <td><%= render 'politicians/politician', :politician => candidacy.politician, :headshot_style => :tiny, :name_only => true, :headshot_spacer => true %></td>
              <td><%= render 'reports/scores/score', :score => score, :hide_evidence => true %></td>
              <td><div class="score_sources">
                <%- if score -%>
                  <%= link_to score.evidence_description.to_i, report_score_path(score), :class => 'fancyboxy' %>
                <%- else -%>
                  0
                <%- end -%>
              </div></td>
              <td><%= candidacy.party %></td>
              <td></td>
            </tr>
          <%- end -%>
        </tbody>
      <%- end -%>
    <%- end -%>
  <%- end -%>

  <%- grouped_politicians = politicians.group_by(&:current_office_type) -%>

  <%- if (presidents = grouped_politicians['PresidentialTerm']).present? -%>
    <%= render 'guides/incumbent_scores', :office => 'President', :politicians => presidents, :scores => scores %>
    <%- politicians -= presidents -%>
  <%- end -%>

  <%- if (senators = grouped_politicians['SenateTerm']).present? -%>
    <%= render 'guides/incumbent_scores', :office => "Senators for #{ state_name(guide.congressional_district.state) }", :politicians => senators, :scores => scores %>
    <%- politicians -= senators -%>
  <%- end -%>

  <%- if (representatives = grouped_politicians['RepresentativeTerm']).present? -%>
    <%= render 'guides/incumbent_scores', :office => "Representative #{ "for the #{district_full_title_name(guide.congressional_district) }" if guide.congressional_district }", :politicians => representatives, :scores => scores %>
    <%- politicians -= representatives -%>
  <%- end -%>
</table>

</div>
