<%-
  selected ||= nil
  scores ||= []
-%>

<div class="span-5">
  <div class="stances round-4">
    <h2>Your Stance</h2>
    <dl>
      <dt class="<%= 'selected ' if !selected %>round-4">
        <%= link_to 'Overall Score', new_guide_path(:from => 'location'), :class => 'act-replace', :rel => 'instant_scores' %>
      </dt>
      <dt>Supported</dt>
      <% guide.reports_supported.each do |report| %>
        <%= render 'guides/stance', :report => report, :selected => selected %>
      <% end %>
      <dt>Opposed</dt>
      <% guide.reports_opposed.each do |report| %>
        <%= render 'guides/stance', :report => report, :selected => selected %>
      <% end %>
    </ul>
  </div>
</div>

<div class="span-19 last">
<%- general_stage = guide.elections.first.stages.future.by_voted_on.first -%>
<%= general_stage.voted_on.to_s(:long) %>, <%= general_stage.name %>
<%- guide.elections.each do |election| -%>
  <%- stage = election.stages.future.by_voted_on.first -%>
  <%- if races = stage.races.for_districts(guide.districts) -%>
    <h2><%= election.name %></h2>
    <%- races.each do |race| -%>
      <table class="guide_scores">
        <thead>
          <tr>
            <th><%= race.office.name %><%= ", #{election.state.abbreviation}-#{race.district}" if race.district %></th>
            <th>Grade</th>
            <th># of reports</th>
            <th>Party</th>
            <th>Choice</th>
          </tr>
        </thead>
        <tbody>
          <%- race.candidacies.each do |candidacy| -%>
            <tr>
              <%- headshot = candidacy.politician.headshot -%>
              <td><%= render 'politicians/politician', :politician => candidacy.politician, :headshot_style => :tiny, :name_only => true %></td>
              <td></td>
              <td></td>
              <td><%= candidacy.party %></td>
            </tr>
          <%- end -%>
        </tbody>
      </table>
    <%- end -%>
  <%- end -%>
<%- end -%>

<dl class="span-19 last guide_scores">
  <%- politicians = guide.politicians.for_display.group_by(&:current_office_type) -%>

  <dt>President of these United States of America</dt>
  <%= render 'politicians/scores', :scores => scores, :politicians => politicians['PresidentialTerm'] %>

  <%- if senators = politicians['SenateTerm'] -%>
    <dt>Senators for the <%= state_full_name(guide.congressional_district.state) %></dt>
    <%= render 'politicians/scores', :scores => scores, :politicians => senators %>
  <%- end -%>

  <%- if reps = politicians['RepresentativeTerm'] -%>
    <dt>Representative
      <%- if guide.congressional_district -%>
        for the <%= district_full_title_name(guide.congressional_district) %>
      <%- end -%>
    </dt>
    <%= render 'politicians/scores', :scores => scores, :politicians => reps %>
  <%- end -%>
</dl>
</div>
