<%- title 'Guide - Causes' -%>

<div class="guide_header">
  <div class="container">
    <p class="span-24 message">Answer questions to see how your views align with those of your representatives</p>

    <div class="guide">
      <% javascript_tag do %>
        current_act_toggle_selected = '<%= dom_id(@under_consideration) %>';
      <% end %>
      <% form_for @guide, :url => new_guide_path, :html => {:id => 'guide_causes', :rel => 'instant_scores'} do |f| %>
        <h1 class="span-15">What's your view on <%= select_tag :issue_selected,
        (Issue.all.map {|issue| content_tag(:option, "#{issue.title.downcase}?", (@under_consideration == issue ? {:selected => 'selected'} : {}).merge(:value => dom_id(issue))) }.join +
        Cause.without_issue.map {|cause| content_tag(:option, "#{cause.name.downcase}?", (@under_consideration == cause ? {:selected => 'selected'} : {}).merge(:value => dom_id(cause))) }.join).html_safe, :class => 'title act-toggle' %>
        </h1>
        <div class="span-9 last">
          <%- Issue.all.each do |issue| -%>
            <ul class="clearfix cause_buttons" style="<%= 'display:none;' unless issue == @under_consideration %>" id="<%= dom_id(issue) %>">
              <li><button class="cause_selection round-6">Meh</button></li>
              <%- issue.causes.each do |cause| -%>
                <li><button name="causes[]" value="<%= cause.to_param %>" class="cause_selection round-6" title="<%= cause.description %>"><%= cause.name %></button></li>
              <%- end -%>
            </ul>
          <%- end -%>
          <%- Cause.without_issue.map do |cause| -%>
            <ul class="clearfix cause_buttons" style="<%= 'display:none;' unless cause == @under_consideration %>" id="<%= dom_id(cause) %>">
              <li><button class="cause_selection round-6">Skip</button></li>
              <li><button name="causes[]" value="<%= cause.to_param %>" class="cause_selection round-6" title="<%= cause.description %>">Support</button></li>
            </ul>
          <%- end -%>

          <%= hidden_field_tag :from, 'causes' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div id="instant_scores" class="span-24">
    <%= render 'guides/cause_scores', :guide => @guide %>
  </div>
</div>
