<%- title 'Guide - Causes' -%>

<div class="guide_header">
  <div class="container">
    <p class="span-24 message">Answer questions to see how your views align with those of your representatives</p>

    <div class="guide">
      <% javascript_tag do %>
        current_act_toggle_selected = '<%= dom_id(@issue) %>';
      <% end %>
      <% form_for @guide, :url => new_guide_path, :html => {:class => 'act-replace', :rel => 'instant_scores'} do |f| %>
        <h1 class="span-16">What's your view on <%= select_tag :issue_selected,
        Issue.all.map {|issue| content_tag(:option, issue.title, (@issue == issue ? {:selected => 'selected'} : {}).merge(:value => dom_id(issue))) }.join.html_safe, :class => 'title act-toggle' %>?
        </h1>
        <div class="span-8 last">
          <%- Issue.all.each do |issue| -%>
            <ul class="clearfix" style="<%= 'display:none;' unless issue == @issue %>" id="<%= dom_id(issue) %>">
              <%- issue.causes.each do |cause| -%>
                <li><button name="causes[]" value="<%= cause.to_param %>" class="cause_selection round-6" title="<%= cause.description %>"><%= cause.name %></button></li>
              <%- end -%>
            </ul>
          <%- end -%>
          <%= hidden_field_tag :from, 'causes' %>
        </div>
      <% end %>
    </div>

    <div id="instant_scores"></div>
  </div>
</div>
