<%- title 'Guide - Causes' -%>

<div class="guide_header">
  <div class="container">
    <p class="span-24 message">Answer questions to see how your views align with those of your representatives</p>

    <div class="guide">
      <%= form_for @guide, url: new_guide_path, html: {id: 'guide_causes', rel: 'instant_scores'} do |f| %>
        <ul id="guide_questions">
          <%- @questions.each do |question| -%>
            <li class="question<%= ' hide' if @under_consideration.object != question.object %>" id="<%= dom_id(question.object) %>">
              <h1><%= guide_question(question) %></h1>
              <ul class="clearfix cause_buttons">
                <li><button class="cause_selection round-6 skip">Skip this question</button></li>
                <%- question.options.each_pair do |message, position| -%>
                  <li><button name="<%= position.position %>" value="<%= position.cause.to_param %>" class="cause_selection round-6" title="<%= position.cause.description %>"><%= message %></button></li>
                <%- end -%>
              </ul>
            </li>
          <%- end -%>
        </ul>
        <%= hidden_field_tag :from, 'causes' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div id="instant_scores" class="span-24">
    <%= render 'guides/cause_scores', guide: @guide, scores: @scores %>
  </div>
</div>
