<%- title 'Guide - District' -%>

<div class="section guide">
  <% form_for @guide, :url => new_guide_path, :html => {:method => :get} do |f| %>
    <h1>Which district is yours?</h1>
    <ul class="clearfix">
      <%- @districts.each do |district| -%>
        <%- class_name = cycle('left', 'right') -%>
        <li class="<%= class_name %>">
          <%= render 'us/districts/maps/map', :district => district, :width => 380 %>
          <%= f.radio_button :district_id, district.id %>
          <%= label_tag :"guide_district_id_#{district.id}", district_title(district) %>
        </li>
      <%- end -%>
    </ul>
    <p><%= f.submit 'Save' %></p>
  <% end %>
</div>
