<% title 'Your Districts' %>

<h1>Set your Location</h1>

<p>First, we need to know which politicians to score...</p>

<div style="min-width: 750px" class="clearfix" id="location_setter">
  <div class="left">
    <h2><%= render 'locations/form', :format => 'js' %></h2>

    <div id="guide_location_map_canvas"></div>
  </div>

  <div class="right">
    <h2>Your Representatives for <%= @federal.display_name %></h2>
    <div class="clearfix">
      <div class="left">
        <h3>Senators</h3>
        <%- @politicians.senators.each do |politician| -%>
          <%= render 'politicians/politician', :politician => politician %>
        <%- end -%>
      </div>
      <div class="right">
        <h3>Representative</h3>
        <%- @politicians.representatives.each do |politician| -%>
          <%= render 'politicians/politician', :politician => politician %>
        <%- end -%>
      </div>
    </div>
  </div>

  <%= render 'locations/map_js', :canvas_id => 'guide_location_map_canvas' %>
</div>

<p>Change your location above, and when it looks good:</p>
<% form_tag new_guide_path, :method => :get do %>
  <%= hidden_field_tag :from, :location %>
  <%= submit_tag "Let's continue..." %>
<% end %>
