<%- title "Set your location" -%>

<div class="guide_header guide_map_header">
  <div class="container">
    <p class="span-24 message">Enter your location to narrow down the list of politicians:</p>

    <% form_tag location_path do %>
      <%= hidden_field_tag :return_to, new_guide_path(:from => :set_location) %>
      <dl class="<%= @politicians ? 'span-8' : 'span-20' %>">
        <dt><%= label_tag :location, 'Your Location' %></dt>
        <dd><%= text_field_tag :location, session[:declared_location], :class => 'title fieldtag round-4', :title => 'Address or zip code' %></dd>
      </dl>
      <%- if @politicians -%>
      <dl class="span-4">
        <dt>President</dt>
        <%- @politicians.presidents.each do |politician| -%>
          <dd><%= render 'politicians/politician', :politician => politician, :headshot_style => :tiny, :name_only => true %></dd>
        <%- end -%>
      </dl>
      <dl class="span-4">
        <dt>Senators for <%= @federal.state.abbreviation %></dt>
        <%- @politicians.senators.each do |politician| -%>
          <dd><%= render 'politicians/politician', :politician => politician, :headshot_style => :tiny, :name_only => true %></dd>
        <%- end -%>
      </dl>
      <dl class="span-4">
        <dt>Representative for <%= @federal.congressional_district.abbreviation %></dt>
        <%- @politicians.representatives.each do |politician| -%>
          <dd><%= render 'politicians/politician', :politician => politician, :headshot_style => :tiny, :name_only => true %></dd>
        <%- end -%>
      </dl>
      <%- else -%>
      <div class="span-4 last">
        <button class="continue round-6">Continue</button>
      </div>
      <%- end -%>
    <% end %>

    <%- if @politicians -%>
      <div class="span-4 last">
        <% form_tag new_guide_path, :method => :get do %>
          <%= hidden_field_tag :from, :location %>
          <button class="continue round-6">Continue</button>
        <% end %>
      </div>
    <%- end -%>
  </div>
</div>

<div class="guide_map">
  <div id="guide_location_map_canvas"></div>
  <%= render 'locations/map_js', :canvas_id => 'guide_location_map_canvas' %>
</div>
