<%-
  width ||= 600
  headshot_style ||= :medium
  headshot_size ||= nil
-%>

<div class="politician_score">
  <%- politician = score.politician -%>
  <% div_for politician do %>
    <%= render 'politicians/headshot', :politician => politician, :style => headshot_style, :size => headshot_size %>
    <%= render 'politicians/name', :politician => politician, :full => true %>
    <div id="<%= dom_id(score) %>"></div>
    <%= render 'reports/scores/evidence_summary', :score => score %>
  <% end %>
</div>

<% javascript_tag do %>
<%- unless @js -%>
  $(function() {
<%- end -%>
    var chart = new Highcharts.Chart({
       chart: {
          renderTo: '<%= dom_id(score) %>',
          defaultSeriesType: 'bar',
          height: '70',
          width: '<%= width %>',
          margin: [10, 10, 14, 10]
       },
       title: false,
       xAxis: {
          title: {
             text: null
          }
       },
       yAxis: {
          min: 0,
          max: 100,
          title: false
       },
       tooltip: {
          formatter: function() {
             return this.y + '%';
          }
       },
       plotOptions: {
          bar: {
            pointWidth: '85',
            dataLabels: {
              enabled: true,
              color: 'auto'
            }
          }
       },
       legend: false,
       credits: {
          enabled: false
       },
        series: [{
          data: [<%= score.score.round %>]
       }]
    });
<%- unless @js -%>
  });
<%- end -%>
<% end %>