<%-
  width ||= 600
  headshot_style ||= :medium
  headshot_size ||= nil
-%>

<div class="politician_score bar_score">
  <%- politician = score.politician -%>
  <% div_for politician do %>
    <%= render 'politicians/headshot', :politician => politician, :style => headshot_style, :size => headshot_size %>
    <%= render 'politicians/name', :politician => politician, :full => true %>
    <%= render 'reports/scores/evidence', :score => score %>
    <div id="<%= dom_id(score) %>"></div>
    <%- if with_report_title -%>
      <%- report = score.report -%>
      <%- if report.current_image -%>
        <%= image_with_hover_tag report.current_image, report.name, :style => :tiny, :class => 'report_image' %>
      <%- end -%>
      <%= link_to report_name(report), report_path(report), :class => 'report_title' %>
      <%- if report.user_id -%>
        <span class="report_creator">by <%= render 'users/user', :user => report.user %></span>
      <%- end -%>
    <%- end -%>
  <% end %>
</div>

<% javascript_tag do %>
<%- unless @js -%>
  $(function() {
<%- end -%>
    var chart = new Highcharts.Chart({
       chart: {
          renderTo: '<%= dom_id(score) %>',
          defaultSeriesType: 'bar',
          height: '70',
          width: '<%= width %>',
          margin: [10, 20, 14, 10]
       },
       title: false,
       xAxis: {
          title: {
             text: null
          }
       },
       yAxis: {
          min: 0,
          max: 104,
          endOnTick: false,
          title: false
       },
       tooltip: {
          formatter: function() {
             return this.y + '%';
          }
       },
       plotOptions: {
          bar: {
            pointWidth: '85',
            dataLabels: {
              enabled: true,
              color: 'auto'
            }
          }
       },
       legend: false,
       credits: {
          enabled: false
       },
        series: [{
          data: [<%= score.score.round %>]
       }]
    });
<%- unless @js -%>
  });
<%- end -%>
<% end %>