<div class="politician_score">
  <%- politician = score.politician -%>
  <% div_for politician do %>
    <div class="clearfix">
      <%- if politician.headshot.url(:small) -%>
        <%= link_to_unless_current image_with_hover_tag(politician.headshot, politician_title(politician), :style => :small, :size => '50x61', :alt => politician.full_name), politician_path(politician), :class => 'politician_headshot' %><br />
      <%- end -%>
      <%= render 'reports/scores/score', :score => score %>
    </div>
    <span class="politician_name"><%= link_to_unless_current politician_name(politician), politician  %>
      <%- if politician.location -%>
      <span class="politician_location" data-district="<%= polymorphic_path([politician.location, :map]) %>" data-district-title="<%= location_title(politician.location) %>"><%= link_to_unless_current politician.location.abbreviation, polymorphic_path(politician.location) %></span>
      <%- end -%>
    </span>
  <% end %>
</div>
