<%= image_tag @politician.headshot_url, :alt => @politician.full_name %>
<h2><%= @politician.title %> <%= resource.full_name %></h2>

<%= @politician.party %> - <%= @politician.state %> <%= "(In Office)" if @politician.in_office %>

<h3>Contact</h3>
<dl>
  <dt>Email</dt>
  <dd><%= mail_to @politician.email %></dd>
  <dt>Twitter</dt>
  <dd><%= link_to "@#{@politician.twitter_id}", "http://twitter.com/#{@politician.twitter_id}" %></dd>
  <dt>Contact Form</dt>
  <dd><%= link_to @politician.webform, @politician.webform %></dd>
  <dt>Website</dt>
  <dd><%= link_to @politician.website, @politician.website %></dd>
  <dt>Youtube</dt>
  <dd><%= link_to @politician.youtube_url, @politician.youtube.url %></dd>
  <dt>Phone</dt>
  <dd><%= @politician.phone %></dd>
  <dt>Fax</dt>
  <dd><%= @politician.fax %></dd>
</dl>

<%= link_to 'View on Congresspedia', @politician.congresspedia_url %>

<h3>Supported Bills</h3>
<%- if (supported = @politician.bills.supported).present? -%>
<ul>
  <% supported.each do |bill|  %>
    <li><%= link_to bill.title, bill%></li>
  <% end %>
</ul>
<%- else -%>
  <p>We have no record of support from this politician</p>
<%- end -%>

<h3>Opposed Bills</h3>
<%- if (opposed = @politician.bills.opposed).present? -%>
<ul>
  <% opposed.each do |bill|  %>
    <li><%= link_to bill.title, bill%></li>
  <% end %>
</ul>
<%- else -%>
  <p>We have no record of opposition from this politician</p>
<%- end -%>
