<% title "Log in" %>

<div class="section clearfix login_section">
  <%- unless @user_session.errors.present? -%>
  <div class="left">
    <h2>Log in via...</h2>
    <%= raw rpx_embed(:app_name => RPX_APP_NAME, :return_url => user_sessions_url(params.slice(:return_to))) %><br />
  </div>
  <%- end -%>

  <div class="right">
    <%= error_messages_for(:user_session) %>
    <h2>Log in via Email</h2>
    <% form_for @user_session do |f| %>
      <p>
        <%= f.label :username, 'Username/Email' %><br />
        <%= f.text_field :username %><br />

        <%= f.label :password %><br />
        <%= f.password_field :password %><br />

        <%= hidden_field_tag :return_to, params[:return_to] %>
        <%= hidden_field_tag :return_method, params[:return_method] %>

        <%= f.submit "Log in" %>
      </p>
    <% end %>
  </div>
</div>
