<% title "Log in" %>

<div class="clearfix" id="login_section">
  <div class="left">
    <h2>Log in via...</h2>
    <%= raw rpx_embed(:app_name => RPX_APP_NAME, :return_url => user_sessions_url(params.slice(:return_to))) %><br />
  </div>

  <div class="right">
    <h2>Log in via Email</h2>
    <% form_for @user_session do |f| %>
      <%= f.error_messages %>
      <%= errors_for f, :base %>
      <p>
        <%= f.label :username, 'Username/Email' %><br />
        <%= f.text_field :username %><br />
        <%= errors_for f, :username, :email %>

        <%= f.label :password %><br />
        <%= f.password_field :password %><br />
        <%= errors_for f, :password %>

        <%= hidden_field_tag :return_to, params[:return_to] %>
        <%= hidden_field_tag :return_method, params[:return_method] %>

        <%= f.submit "Log in" %>
      </p>
    <% end %>

    <%= link_to 'No account? Signup here', new_user_path, :class => 'act-replace', :rel => 'login_section' %>
  </div>
</div>
