<% title "Log in" %>

<div class="section">
  <h2>Log in</h2>

  <% form_for @user_session do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :username, 'Username/Email' %><br />
      <%= f.text_field :username %><br />

      <%= f.label :password %><br />
      <%= f.password_field :password %><br />

      <%= hidden_field_tag :return_to, @return_to %>

      <%= f.submit "Log in" %>
    </p>
  <% end %>
</div>
