<% title "Log in" %>

<div class="section">
  <%= error_messages_for(:user_session) %>

  <%= raw rpx_embed(:app_name => RPX_APP_NAME, :return_url => user_sessions_url) %><br />

  <h3><%= link_to 'Or, Sign in using your email address', '#', :'data-dialog' => '#email_signin' %></h3>
  <div id="email_signin" class="hidden"
    data-dialog-title="Sign in using your email address" data-dialog-width="280">
    <% form_for @user_session do |f| %>
      <p>
        <%= f.label :username, 'Username/Email' %><br />
        <%= f.text_field :username %><br />

        <%= f.label :password %><br />
        <%= f.password_field :password %><br />

        <%= hidden_field_tag :return_to, @return_to %>

        <%= f.submit "Log in" %>
      </p>
    <% end %>
  </div>
</div>
