<%= render 'reports/follows/button', report: report %>

<%- if permitted_to?(:edit, report) && !report.published? -%>
  <div class="publicize">
    <%= report_next_step(report) %>
  </div>
<%- end -%>

<div class="clearfix section report_description">
  <%- if report.thumbnail.exists? -%>
  <div class="image image_large"><%= sized_image_tag report.thumbnail, report.name, style: :header %></div>
  <%- end -%>
  <h1 class="report_title<%= ' big' if report.name.length < 14 %>"><%= report.name %></h1>
  <p>by <%= render 'users/user', user: report.user %></p>
  <%- unless report.description.blank? -%>
  <blockquote><%= md_to_html(report.description) %></blockquote>
  <%- end -%>
</div>
