<%-
  param_name ||= :page
  replace ||= 'reports'
  cause_only ||= false
-%>
<div id="reports">
  <%- if reports.present? -%>
    <%- if reports.respond_to?(:num_pages) -%>
      <div class="act-replace" rel="<%= replace %>"><%= paginate reports, :param_name => param_name %></div>
      <ul class="reports">
        <%- paginated_results(reports).each do |report| -%>
          <li><%= render 'reports/report', :report => report, :cause_only => cause_only %></li>
        <%- end -%>
      </ul>
      <div class="act-replace" rel="<%= replace %>"><%= paginate reports, :param_name => param_name %></div>
    <%- else -%>
      <ul class="reports">
        <%- reports.each do |report| -%>
          <li><%= render report %></li>
        <%- end -%>
      </ul>
    <%- end -%>
  <%- else -%>
    <p>No reports found...</p>
  <%- end -%>
</div>
