<div id="search" style="<%= 'display: none' if params[:subjects].present? %>">
  <% form_tag path, :method => :get, :'data-replace' => replace do %>
    <h3><%= label_tag :q, 'Search Reports' %></h3>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag 'Search' %>
    <p>or <a href="#" data-toggle="search, browse_by_subject">browse by subject</a></p>
  <% end %>
</div>

<div id="browse_by_subject" style="<%= 'display: none' unless params[:subjects].present? %>">
  <% form_tag path, :method => :get, :'data-replace' => replace do %>
    <h3>Browse by Subject</h3>
    <div id="report_subjects_cloud">
      <%= render 'subjects/cloud', :subjects => @subjects, :target => lambda {|subjects|
        [reports_path(params.merge(:subjects => subjects)), {:'data-replace' => replace}]
      } %>
    </div>
    <p>or <a href="#" data-toggle="search, browse_by_subject">search</a></p>
  <% end %>
</div>
