<%- subjects ||= Subject.on_published_reports.for_tag_cloud.all(:limit => 20) -%>

<div id="search" style="<%= 'display: none' if params[:subjects].present? %>">
  <% form_tag path, :method => :get, :class => 'act-replace', :rel => replace do %>
    <h3><%= label_tag :term, 'Search Reports' %></h3>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Search' %>
    <p>or <a href="#" class="act-toggle" rel="search browse_by_subject">browse by subject</a></p>
  <% end %>
</div>

<div id="browse_by_subject" style="<%= 'display: none' unless params[:subjects].present? %>">
  <% form_tag path, :method => :get, :class => 'act-replace', :rel => replace do %>
    <h3>Browse by Subject</h3>
    <div id="report_subjects_cloud">
      <%= render 'subjects/cloud', :subjects => subjects, :target => lambda {|subjects|
        [path + "?" + params.slice(:page).merge(:subjects => subjects).to_param, {:class => 'act-replace', :rel => replace}]
      } %>
    </div>
    <p>or <a href="#" class="act-toggle" rel="search browse_by_subject">search</a></p>
  <% end %>
</div>
