<%- no_description ||= false -%>

<% div_for(report, :class => 'clearfix') do %>
  <%= link_to image_tag(report.thumbnail.url, :size => '110x83'), report_path_components(report), :class => 'report_image' %>
  <div class="report_attrs">
    <%= link_to report.name, report_path_components(report), :class => 'report_title' %>
      <%- description = truncate(strip_tags(report.description), :length => report.user_id ? 90 : 150) -%>
      <%- if description.blank? || no_description -%>
        <br />
        <%- if report.user_id -%>
          <span class="report_creator">By <%= render 'users/user', :user => report.user %></span>
        <%- end -%>
      <%- else -%>
        <%- if report.user_id -%>
          <span class="report_creator">By <%= render 'users/user', :user => report.user %></span>
        <%- end -%>
        <blockquote><p><%= description %></p></blockquote>
      <%- end -%>
  </div>
<% end %>
