<% title "Reports" %>

<div class="section">
  <h2>Find reports on the subjects important to you</h2>

  <p>Our politician report cards are created by people like you to condense all the complexity of politics to simple letter grades.  And if you can't find your cause represented below, you can always <%= link_to 'create your own', new_report_path %>.</p>

  <%- replace = 'content' -%>
  <% form_tag reports_path, :method => :get, :'data-replace' => replace do %>
    <p>
      <%= label_tag :q, 'Search', :style => 'font-weight: bold;' %>
      <%= text_field_tag :q, @q %>
    </p>
    <p><%= submit_tag 'Search' %></p>

    <p>
      <%= check_box_tag :user_reports_only, '1', params[:user_reports_only], :'data-replace' => replace %>
      <%= label_tag :user_reports_only, 'User Reports Only' %>
    </p>
    <p>or browse by subject:</p>
    <div id="report_subjects_cloud">
      <%= render 'subjects/cloud', :subjects => @subjects, :target => lambda {|subjects|
        [reports_path(params.slice(:user_reports_only).merge(:subjects => subjects)), {:'data-replace' => replace}]
      } %>
    </div>
  <% end %>
</div>

<div class="section">
  <h3><%= @title %></h3>
  <%= render 'reports/list', :reports => @reports %>
</div>
