<% title "Reports" %>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
  </tr>
  <% for report in @reports %>
    <tr>
      <td><%=h report.user_id %></td>
      <td><%=h report.name %></td>
      <td><%= link_to "Show", report %></td>
      <td><%= link_to "Edit", edit_report_path(report) %></td>
      <td><%= link_to "Destroy", report, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Report", new_report_path %></p>
