<% title "Report - #{h @report.name}" %>

<h2><%=h @report.name %></h2>

<p>
  Created by <%= link_to h(@report.user.username), @report.user %>
</p>


<h3>Bill Criteria</h3>
<%- unless @report.bill_criteria.empty? -%>
<ul>
  <%- @report.bill_criteria.each do |criterion| -%>
    <li><%= render criterion %></li>
  <%- end -%>
</ul>
<%- end -%>

<%- if @report.user == current_user -%>
  <h3>Add Bills to Report</h3>
  <%= render 'bills/search', :label => '', :path => new_report_bills_path(@report) %>
<%- end -%>

<p>
  <%- if @report.user == current_user -%>
    <%= link_to "Edit", edit_report_path(@report) %> |
    <%= link_to "Destroy", @report, :confirm => 'Are you sure?', :method => :delete %> |
  <%- end -%>
  <%= link_to "View All", reports_path %>
</p>
