<% title "Report - #{h @report.name}" %>

<h2><%=h @report.name %></h2>

<p>
  Created by <%= link_to h(@report.user.username), @report.user %>
</p>

<p>
  <%= link_to "Edit", edit_report_path(@report) %> |
  <%= link_to "Destroy", @report, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", reports_path %>
</p>
