<% title "Report" %>

<p>
  <strong>User:</strong>
  <%=h @report.user.username %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @report.name %>
</p>

<p>
  <%= link_to "Edit", edit_report_path(@report) %> |
  <%= link_to "Destroy", @report, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", reports_path %>
</p>
