<% title 'Your Districts' %>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<div class="left">
  <h2>
    <% form_tag location_path do %>
      <%= label_tag :location, 'Your Location', :style => 'font-weight: normal;' %>
      <%= text_field_tag :location, params[:location] %>
      <%= submit_tag 'Set' %>
    <% end %>
  </h2>

  <div id="map_canvas" style="height: 30em;"></div>
</div>

<div class="right">
  <h2>Your Representatives</h2>
  <div class="clearfix">
    <div class="left">
      <h3>Senators for <%= @federal.state.abbreviation %></h3>
      <%- @politicians.senators.each do |politician| -%>
        <%= render 'politicians/politician', :politician => politician %>
      <%- end -%>
    </div>
    <div class="right">
      <h3>Representative for <%= @federal.display_name %></h3>
      <%- @politicians.representatives.each do |politician| -%>
        <%= render 'politicians/politician', :politician => politician %>
      <%- end -%>
    </div>
  </div>
</div>

<% javascript_tag do %>
  $(function () {
    var map = new google.maps.Map(document.getElementById("map_canvas"), {
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    map.fitBounds(new google.maps.LatLngBounds(
      <%= mapy(@bounds.lower_corner) %>,
      <%= mapy(@bounds.upper_corner) %>
    ));

    <%- @districts.each do |district| -%>
      var district_<%= district.id %> = new google.maps.Polygon({
        paths: [
        <%- district.linear_ring.each do |point| -%>
          <%= mapy(point) %>,
        <%- end -%>
        ],
        strokeColor: "<%= district.level.stroke_color %>",
        strokeOpacity: 0.8,
        strokeWeight: 1,
        fillColor: "<%= district.level.fill_color %>",
        fillOpacity: 0.3
      });
      district_<%= district.id %>.setMap(map);
    <%- end -%>

    var districtInfo = new google.maps.InfoWindow({
        content: "Howdy"
    });

    var location = new google.maps.Marker({
      position: <%= mapy(@geoloc) %>,
      map: map,
      title: "Your Location"
    });

    google.maps.event.addListener(location, 'click', function() {
      districtInfo.open(map,location);
    });
  });
<% end %>
