<% title 'Your Districts' %>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<div id="map_canvas" style="width: 100%; height: 30em;"></div>

<% javascript_tag do %>
  $(function () {
    var map = new google.maps.Map(document.getElementById("map_canvas"), {
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    map.fitBounds(new google.maps.LatLngBounds(
      <%= mapy(@bounds.lower_corner) %>,
      <%= mapy(@bounds.upper_corner) %>
    ));

    <%- @districts.each do |district| -%>
      var district_<%= district.gid %> = new google.maps.Polygon({
        paths: [
        <%- district.linear_ring.each do |point| -%>
          <%= mapy(point) %>,
        <%- end -%>
        ],
        strokeColor: "<%= district.level.stroke_color %>",
        strokeOpacity: 0.8,
        strokeWeight: 1,
        fillColor: "<%= district.level.fill_color %>",
        fillOpacity: 0.3
      });
      district_<%= district.gid %>.setMap(map);
    <%- end -%>
  });
<% end %>
