<%- title 'Your Districts' -%>

<div style="min-width: 750px" id="location_setter">
  <div class="left">
    <h2><%= render 'locations/form' %></h2>

    <div id="location_show_map_canvas"></div>
  </div>

  <div class="right">
    <h2>Your Representatives for <%= @federal.congressional_district.abbreviation %></h2>
    <div class="clearfix">
      <div class="left">
        <h3>Senators</h3>
        <%- @politicians.senators.each do |politician| -%>
          <%= render 'politicians/politician', politician: politician %>
        <%- end -%>
      </div>
      <div class="right">
        <h3>Representative</h3>
        <%- @politicians.representatives.each do |politician| -%>
          <%= render 'politicians/politician', politician: politician %>
        <%- end -%>
      </div>
    </div>
  </div>

  <%= render 'locations/map_js', :canvas_id => 'location_show_map_canvas' %>
</div>
