<% title 'Your Districts' %>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<div id="map_canvas" style="width: 100%; height: 30em;"></div>

<% javascript_tag do %>
  $(function () {
    var map = new google.maps.Map(document.getElementById("map_canvas"), {
      zoom: 11,
      center: new google.maps.LatLng(<%= @center.lat %>,<%= @center.lng %>),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    <%- @districts.each do |district| -%>
      var district_<%= district.gid %> = new google.maps.Polygon({
        paths: [
          <%- district.linear_ring.each do |point| -%>
          new google.maps.LatLng(<%= point.y %>, <%= point.x %>),
          <%- end -%>
        ],
        strokeColor: "<%= district.level.stroke_color %>",
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: "<%= district.level.fill_color %>",
        fillOpacity: 0.35
      });
      district_<%= district.gid %>.setMap(map);
    <%- end -%>
  });
<% end %>
