<div id="account">
  <%= render 'locations/location' %><%= divider %>
  <%= link_to content_tag(:span, 'Log in'), login_path, :class => 'blue' %><%= divider %>
  <%= link_to content_tag(:span, 'Register'), signup_path, :class => 'blue' %>
</div>
