<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= page_title %></title>
    <%= stylesheet_link_tag 'compiled/reset.css' %>
    <%= stylesheet_link_tag 'compiled/screen.css' %>
  </head>
  <body class="bp three-col">
    <%= flash_helper %>
    <div id="container">
      <div id="header">
        <%= link_to image_tag('logo.png'), root_path %>
      </div>
      <!--
      <div id="sidebar-left">
      </div>
      --> 
      <div id="content">
        <%= yield %>
      </div>
      <div id="sidebar-right">

        <h3>Search</h3>
        <%= render 'bills/search', :button => 'Search for Bills', :label => '' %>
        <h3>Links</h3>
        <ul class="sidebar-links">
          <%= sidebar_link("Create a Report", new_report_path) %>
          <% if current_user %>
            <%= sidebar_link("My reports", user_reports_path(current_user)) %>
            <%= sidebar_link("Log out", logout_path) %>
          <% else %>
            <%= sidebar_link("Log in", login_path) %>
            <%= sidebar_link("Sign up", signup_path) %>
          <% end %>
          
          <%= sidebar_link("About us", about_path) %>
        </ul>
        <%= render 'layouts/mailchimp_signup' %>

      </div>
      <div id="footer">VoteReports &copy; 2009</div>
    </div>

    <%= javascript_include_tag 'jquery-1.3.2.min.js','application.js' %>
    <%= yield :javascript_area %>
    <%= render :partial => 'layouts/google_analytics' %>
  </body>
</html>
