<% content_for :header_content do %>
  <div class="span-24">
    <ul id="menu" class="sidebar-links">
      <li class="<%= "selected" if request.path.starts_with?('/politicians') %>">
        <%= link_to content_tag(:span, "Politicians"), politicians_path, :class => 'sprites navigation-button_politicians' %>
      </li>
      <li class="<%= "selected" if request.path.starts_with?('/reports') || request.path.starts_with?('/interest_groups') %>">
        <%= link_to content_tag(:span, "Reports"), reports_path, :class => 'sprites navigation-button_reports' %>
      </li>
      <li class="<%= "selected" if request.path.starts_with?('/causes') %>">
        <%= link_to content_tag(:span, "Causes"), causes_path, :class => 'sprites navigation-button_causes' %>
      </li>
    </ul>
    <% form_tag search_path, :method => :get, :id => 'header_search' do %>
      <%= label_tag :term, 'Search' %>
      <%= text_field_tag :term, '', :class => 'fieldtag', :id => 'nav_search',
        :title => 'Politicians, Reports and Causes',
        :size => 20 %>
    <% end %>
  </div>
<% end %>

<% content_for :minimal_content do %>
  <%= yield :above_content %>
  
  <div class="container">
    <div id="content" class="span-24">
      <%= yield(:content) || yield %>
    </div>
  </div>
<% end %>
<%= render :file => 'layouts/minimal' %> 
