<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= page_title %></title>
    <%= stylesheet_link_tag 'compiled/screen.css' %>
    <%= stylesheet_link_tag 'master.css' %>
    <%= stylesheet_link_tag 'smoothness/jquery-ui-1.7.2.custom.css' %>
    <%= render 'layouts/google_analytics' %>
  </head>
  <body class="bp three-col">
    <%= flash_helper %>
    <div id="container">
      <div id="header">
        <%= link_to image_tag('logo.png', :size => '1024x174'), root_path %>
      </div>
      <!--
      <div id="sidebar-left">
      </div>
      --> 
      <div id="content">
        <%= yield %>
      </div>
      <div id="sidebar-right">

        <h3>Act</h3>
        <ul class="sidebar-links">
          <li><%= link_to_unless_current "Create a Report", current_user ? new_user_report_path(current_user) : new_report_path %></li>
          <% if current_user %>
            <li><%= link_to_unless_current "My reports", user_reports_path(current_user) %></li>
            <li><%= link_to_unless_current "Log out", logout_path %></li>
          <% else %>
            <li><%= link_to_unless_current "Log in", login_path %></li>
            <li><%= link_to_unless_current "Sign up", signup_path %></li>
          <% end %>
        </ul>

        <h3>Learn</h3>
        <ul class="sidebar-links">
          <li><%= link_to_unless_current "Reports", reports_path %></li>
          <li><%= link_to_unless_current "Politicians", politicians_path %></li>
          <li><%= link_to_unless_current "Bills", bills_path %></li>
        </ul>

        <h3>VoteReports</h3>
        <ul class="sidebar-links">
          <li><%= link_to 'We Welcome Feedback', get_satisfaction_path %></li>
          <li><%= link_to_unless_current "About us", about_path %></li>
          <li><%= link_to 'Our Blog', blog_path %></li>
          <li><%= mail_to 'votereports@gmail.com', "Contact us" %></li>
        </ul>
        <%= render 'layouts/mailchimp_signup' %>

      </div>
      <div id="footer">VoteReports &copy; <%= Date.today.year %></div>
    </div>

    <%= javascript_include_tag 'jquery-1.3.2.min.js', 'jquery-ui-1.7.2.custom.min.js', 'jquery.blockUI.js', 'application.js' %>
    <%= yield :javascript_area %>
  </body>
</html>
