<% content_for :minimal_content do %>
  <%= flash_helper %>

  <div class="container">
    <div id="header" class="span-24">
      <div class="span-16">
        <%= link_to image_tag('header_logo.png', :alt => 'VoteReports: Knowing is Half the Ballot', :id => 'logo'), root_path %>
      </div>
      <div class="span-8 last">
        <div id="account">
          <%= render 'locations/location' %>
          <%- if current_user -%>
            <%= link_to_unless_current "Dashboard", user_path(current_user) %>
            <%= link_to_unless_current "Log out", logout_path %>
          <%- else -%>
            <%= link_to content_tag(:span, "Log in"), request.path == root_path ? login_path : login_path(:return_to => request.path), :class => 'fancyboxy login' %>
            <%= link_to content_tag(:span, "Register"), signup_path, :class => 'fancyboxy register' %>
          <%- end -%>
        </div>
      </div>

      <div class="span-24">
        <ul id="menu" class="sidebar-links">
          <li class="<%= "selected" if request.path.starts_with?('/causes') %>">
            <%= link_to content_tag(:span, "Causes"), causes_path, :class => 'causes_nav' %>
          </li>
          <li class="<%= "selected" if request.path.starts_with?('/politicians') %>">
            <%= link_to content_tag(:span, "Politicians"), politicians_path, :class => 'politicians_nav' %>
          </li>
          <li class="<%= "selected" if request.path.starts_with?('/reports') %>">
            <%= link_to content_tag(:span, "Reports"), reports_path, :class => 'reports_nav' %>
          </li>
        </ul>
        <% form_tag search_path, :method => :get, :id => 'header_search' do %>
          <%= label_tag :term, 'Search' %>
          <%= text_field_tag :term, '', :class => 'fieldtag', :id => 'nav_search',
            :title => 'Politicians, Reports and Causes',
            :size => 20 %>
        <% end %>
      </div>
    </div>

    <div id="content" class="span-24">
      <%= yield(:content) || yield %>
    </div>

    <div id="footer" class="footer span-24">
      <div class="span-6">
        <%= link_to image_tag('footer_logo.png', :alt => 'VoteReports'), root_path %>
        <%= link_to "© #{Date.today.year} Participant Labs Inc", participant_labs_path, :id => 'copyright' %>
      </div>
      <ul class="sidebar-links">
        <li><%= link_to_unless_current "About us", about_path %></li>
        <li><%= link_to 'Our Blog', blog_path %></li>
        <li><%= mail_to 'all_ears@votereports.org', "Contact us" %></li>
        <li><%= link_to 'Feedback', get_satisfaction_path, :title => 'We welcome it' %></li>
        <li><%= link_to 'Support Our Efforts', new_donation_path,
          :title => "We've got plenty more to do, and we need your help to do it" %></li>
      </ul>
    </div>
  </div>

  <%= render 'layouts/mail_chimp' %>
  <%= render 'layouts/get_satisfaction' %>
<% end %>
<%= render :file => 'layouts/minimal' %> 
