<% content_for :minimal_content do %>
  <%= flash_helper %>

  <div id="main">
    <div id="inner">
      <ul id="account">
        <%- if current_user -%>
          <li><%= link_to_unless_current "Dashboard", user_path(current_user) %></li>
          <li><%= link_to_unless_current "Log out", logout_path %></li>
        <%- else -%>
          <li><%= link_to_unless_current "Log in", request.path == root_path ? login_path : login_path(:return_to => request.path), :class => 'fancyboxy' %></li>
          <li><%= link_to_unless_current "Sign up", signup_path, :class => 'fancyboxy' %></li>
        <%- end -%>
        <%= render 'locations/location' %>
      </ul>

      <div id="header" class="clearfix">
        <%= link_to image_tag('logo.png', :size => '521x150', :alt => 'VoteReports: Knowing is Half the Ballot', :id => 'logo'), root_path %>

        <% form_tag search_path, :method => :get, :id => 'header_search' do %>
          <%= text_field_tag :term, '', :class => 'fieldtag', :id => 'nav_search',
            :title => 'Search Causes, Reports and Politicians',
            :size => 29 %>
          <%= submit_tag 'Search' %>
        <% end %>
      </div>
      <ul id="menu" class="sidebar-links">
        <li <%= raw %{class="selected"} if [root_path, about_path].include?(request.path) %>><h2><%= link_to_unless_current "Home", root_path %></h2></li>
        <li <%= raw %{class="selected"} if request.path.starts_with?('/politicians') %>><h2><%= link_to_unless_current "Politicians", politicians_path %></h2></li>
        <li <%= raw %{class="selected"} if request.path.starts_with?('/causes') %>><h2><%= link_to_unless_current "Causes", causes_path %></h2></li>
        <li <%= raw %{class="selected"} if request.path.starts_with?('/reports') %>><h2><%= link_to_unless_current "Reports", reports_path %></h2></li>
      </ul>

      <div id="content">
        <%= yield(:content) || yield %>
      </div>

      <div class="footer" id="footer">
        <h3><%= link_to 'VoteReports', root_path %></h3>
        <ul class="sidebar-links">
          <li><%= link_to_unless_current "About us", about_path %></li>
          <li><%= link_to 'Our Blog', blog_path %></li>
          <li><%= mail_to 'all_ears@votereports.org', "Contact us" %></li>
          <li><%= link_to 'Feedback', get_satisfaction_path, :title => 'We welcome it' %></li>
          <li><%= link_to 'Support Our Efforts', new_donation_path,
            :title => "We've got plenty more to do, and we need your help to do it" %></li>
        </ul>
        <p id="copy"><%= link_to "© #{Date.today.year}", participant_labs_path %></p>
      </div>
    </div>
  </div>

  <%= render 'layouts/mail_chimp' %>
  <%= render 'layouts/get_satisfaction' %>
<% end %>
<%= render :file => 'layouts/minimal' %> 
