<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= page_title %></title>
    <%= raw include_stylesheets(:common, :media => 'all') %>
    <%= render 'layouts/google_analytics' %>

    <!--[if IE]>
    <style type="text/css">
      .clearfix {
        zoom: 1;     /* triggers hasLayout */
        display: block;     /* resets display for IE/Win */
        }  /* Only IE can see inside the conditional comment
        and read this CSS rule. Don't ever use a normal HTML
        comment inside the CC or it will close prematurely. */
    </style>
    <![endif]-->
  </head>
  <body>
    <%= flash_helper %>

    <div id="main">
      <div id="inner">
        <ul id="account">
          <% if current_user %>
            <li><%= link_to_unless_current "Your reports", user_path(current_user) %></li>
            <li><%= link_to_unless_current "Log out", logout_path %></li>
          <% else %>
            <li><%= link_to_unless_current "Log in", login_path %></li>
            <li><%= link_to_unless_current "Sign up", signup_path %></li>
          <% end %>
        </ul>

        <div id="header">
          <%= link_to_unless_current image_tag('logo.png', :size => '521x150'), root_path %>
        </div>

        <ul id="menu">
          <li class="dropdown">
            <h2><%= link_to_unless_current 'Learn', reports_path %></h2>
            <div class="dropdown_target">
              Browse our:
              <ul>
                <li><%= link_to_unless_current "Reports", reports_path %></li>
                <li><%= link_to_unless_current "Politicians", politicians_path %></li>
                <li><%= link_to_unless_current "Subjects", subjects_path %></li>
                <li><%= link_to_unless_current "Bills", bills_path %></li>
              </ul>
            </div>
          </li>
          <li class="dropdown">
            <h2><%= link_to_unless_current "Act", new_report_path %></h2>
            <ul class="dropdown_target">
              <li><%= link_to_unless_current "Create a Report", new_report_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <h2><%= link_to 'Follow', blog_path %></h2>
            <ul class="dropdown_target">
              <li><%= link_to 'Our Blog', blog_path %></li>
              <li>
                <form action="http://votereports.us1.list-manage.com/subscribe/post?u=7a5f531cddf4733361c3c56b4&amp;id=6ed81c914b" method="post" id="mc-embedded-subscribe-form" class="validate">
                    <div id="mce-responses">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <div class="mc-field-group">
                      <label for="mce-EMAIL">Our Newsletter</label>
                      <input type="text" value="" name="EMAIL" class="required email text" id="mce-EMAIL" title="Our Newsletter" />
                    </div>
                    <div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn submit" /></div>
                </form>
              </li>
            </ul>
          </li>
        </ul>

        <div id="content">
          <%= yield %>
        </div>

        <div class="footer" id="footer">
          <h3><%= link_to_unless_current 'VoteReports', root_path %></h3>
          <ul class="sidebar-links">
            <li><%= link_to_unless_current "About us", about_path %></li>
            <li><%= mail_to 'votereports@gmail.com', "Contact us" %></li>
            <li><%= link_to 'Feedback', get_satisfaction_path, :title => 'We welcome it' %></li>
          </ul>
          <p id="copy"><%= link_to "&copy; #{Date.today.year}", participant_labs_path %></p>
        </div>
      </div>
    </div>

    <%= raw include_javascripts(:common) %>
    <%= render 'layouts/mail_chimp' %>
    <%= render 'layouts/get_satisfaction' %>
    <%= yield :javascript_area %>
  </body>
</html>
