<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= render 'layouts/chartbeat_start' %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= page_title %></title>
    <%= raw include_stylesheets(:common, :media => 'all') %>
    <%= render 'layouts/google_analytics' %>
    <%= javascript_include_tag 'vendor/jquery-1.4.2.min.js' %>
    <script type="text/javascript" src="http://use.typekit.com/itv8ycm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <link rel="shortcut icon" href="/images/favicon.ico?version=1" />

    <link rel="stylesheet" href="/stylesheets/vendor/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/stylesheets/vendor/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <!--[if IE]>
      <%= javascript_include_tag 'vendor/highcharts/excanvas.compiled.js' %>
      <link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
  </head>
  <body>
    <%= render 'layouts/ienomore' %>

    <%= flash_helper %>

    <%= yield(:footer_only_content) || yield %>

    <div id="footer" >

      <div class="container">

        <div class="span-24" >
          <div class="span-5">
            <a href="/"><img id="footerlogo" src="images/votereports_logo.png"></a>
           </div>

          <div class="span-8" style="text-align:left; font-size:11px; color:#fff; position:relative; top:8px;">
          is a <a href="http://participantlabs.com/" class="white">Participant Labs</a> creation.
          </div>

          <div class="span-11 last">
            <div class="sidebar-links" style="position:relative; top:8px;">
              <a href="/about">About us</a><img id="logindivider" src="images/homepage_register_divider.png" />
              <a href="http://blog.votereports.org/">Our Blog</a><img id="logindivider" src="images/homepage_register_divider.png" />
              <a href="mailto:all_ears@votereports.org">Contact us</a><img id="logindivider" src="images/homepage_register_divider.png" />
              <a href="http://getsatisfaction.com/votereports">Feedback</a><img id="logindivider" src="images/homepage_register_divider.png" />
              <a href="/donate">Support Our Efforts</a>
            </div>
          </div>
        </div>

      </div>
      <div class="container">
        <div class="span-24" >
          <div id="quotecopy" style="position:relative; left:275px; top:30px;">
            There must be a beginning of any great matter, but the continuing unto the end until it be thoroughly finished yields the true glory.<br /><span style="font-family:Arial;font-size:11px;color:#c8c8c8;font-weight:400;text-align:left;">Francis Drake</span>
          </div>
        </div>
      </div>
    </div>

    <%= render 'layouts/get_satisfaction' %>

    <%= raw include_javascripts(:common) %>
    <%= yield :javascript_area %>
    <%= render 'layouts/chartbeat_end' %>
  </body>
</html>
