<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= render 'layouts/chartbeat_start' %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= page_title %></title>
    <script type="text/javascript">
      TypekitConfig = {
        kitId: 'itv8ycm'
      };
      (function() {
        var tk = document.createElement('script');
        tk.src = '//use.typekit.com/' + TypekitConfig.kitId + '.js';
        tk.type = 'text/javascript';
        tk.async = 'true';
        tk.onload = tk.onreadystatechange = function() {
          var rs = this.readyState;
          if (rs && rs != 'complete' && rs != 'loaded') return;
          try { Typekit.load(TypekitConfig); } catch (e) {}
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(tk, s);
      })();
    </script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <link rel="shortcut icon" href="/images/favicon.ico?version=1" />
    <%= javascript_include_tag 'jquery-1.4.3.min' %>

    <%= render 'layouts/google_analytics' %>
    <%= stylesheet_link_tag 'screen', media: 'screen, projection' %>
    <%= stylesheet_link_tag 'blueprint/print', media: 'print' %>
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag 'blueprint/ie', media: 'screen, projection' %>
    <![endif]-->
    <!--[if IE]>
      <%= stylesheet_link_tag 'ie', media: 'screen, projection' %>
    <![endif]-->
  </head>
  <body>
    <%= render 'layouts/ienomore' %>

    <%= flash_helper %>

    <%= content_for?(:footer_only_content) ? yield(:footer_only_content) : yield %>

    <%- cache :footer do -%>
    <div id="footer" >

      <div class="container">

        <div class="span-24" >

          <div class="span-2">
            <%= link_to image_tag('global/logo_small.png'), root_path %>
           </div>

          <div class="span-11">
            <p id="credits">is a <%= link_to 'Participant Labs', participant_labs_path %> creation.</p>
          </div>  

          <div class="span-11 last">
            <div class="sidebar-links" style="position:relative; top:-3px;">
              <%= link_to 'About us', about_path %><%= footer_divider %>
              <%= link_to 'Our Blog', blog_path %><%= footer_divider %>
              <%= mail_to 'all_ears@votereports.org', 'Contact Us' %><%= footer_divider %>
              <%= link_to 'Feedback', get_satisfaction_path, :onclick => 'if(GSFN) feedback_widget.show(); return false' %><%= footer_divider %>
              <%= link_to 'Support Our Efforts', new_donation_path %>
            </div>
          </div>
        </div>

      </div>
      <div class="container">
        <div class="span-24" >
          <div id="quotecopy">
            There must be a beginning of any great matter, but the continuing unto the end until it be thoroughly finished yields the true glory.<br /><span style="font-family:Arial;font-size:11px;color:#c8c8c8;font-weight:400;text-align:left;">Francis Drake</span>
          </div>  
        </div>
      </div>
    </div>
    <%= render 'layouts/get_satisfaction' %>

    <%- end -%>

    <%= javascript_include_tag 'application' %>
    <%= yield :javascript_area %>
    <%= render 'layouts/chartbeat_end' %>
  </body>
</html>
