<%- content_for :footer_only_content do -%>
  <%= yield(:above_header) %>

  <div class="global-account-row">
    <div class="container">
      <div class="span-4"><%= link_to image_tag('global/logo_small.png', id: 'small-logo'), root_path %></div>
      <div class="span-20 last" id="account-position">
        <%= render 'layouts/account_links' %>
      </div>
    </div>
  </div>
  
  <%= yield(:header_content) %>
  </div>

  <%= content_for?(:footer_and_header_content) ? yield(:footer_and_header_content) : yield %>
<%- end -%>

<%= render file: 'layouts/footer_only' %>
