<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= page_title %></title>
    <%= raw include_stylesheets(:common, :media => 'all') %>
    <%= render 'layouts/google_analytics' %>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <link rel="shortcut icon" href="/images/favicon.ico?version=1" />

    <link rel="stylesheet" href="/stylesheets/vendor/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/stylesheets/vendor/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <!--[if IE]>
      <%= javascript_include_tag 'vendor/highcharts/excanvas.compiled.js' %>
      <link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
  </head>
  <body>
    <%= render 'layouts/ienomore' %>
    <%= yield(:minimal_content) || yield %>

    <% javascript_tag do %>
      location_set = <%= session[:geo_location_declared].present? %>;
    <% end %>
    <%= raw include_javascripts(:common) %>
    <%= yield :javascript_area %>
  </body>
</html>
