<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= render 'layouts/chartbeat_start' %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= page_title %></title>
    <%= raw include_stylesheets(:widget, :media => 'all') %>
    <%= render 'layouts/google_analytics' %>

    <link rel="stylesheet" href="/stylesheets/vendor/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/stylesheets/vendor/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
  </head>
  <body>
    <%= yield(:widget_content) || yield %>

    <%= render 'layouts/chartbeat_end' %>
  </body>
</html>
